<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4>Thông tin</h4>
                <ul class="link">
                    <li><a href="" title="">GIỚI THIỆU</a></li>
                    <li><a href="" title="">CHÍNH SÁCH BẢO MẬT</a></li>
                    <li><a href="" title="">ĐIỀU KHOẢN SỬ DỤNG</a></li>
                    <li><a href="" title="">LIÊN HỆ</a></li>
                    <li><a href="" title="">SITEMAP</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Thời gian làm việc</h4>
                <ul class="time">
                    <li>
                        <h5>Monday-Friday</h5>
                        <span>Mở cửa cả ngày</span>
                    </li>
                    <li>
                        <h5>Saturday</h5>
                        <span>Mở cửa cả ngày</span>
                    </li>
                    <li>
                        <h5>Sunday</h5>
                        <span>Closed</span>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Địa chỉ văn phòng</h4>
                <ul class="info">
                    <li>
                        <i class="fa fa-location-arrow"></i>
                        <p>
                            <strong>Địa chỉ hiện tại: 51 E Lê Trực, Quận Bình Thạnh, Hồ Chí Minh</strong>
                            <span>Địa chỉ cũ: 01 Ung Văn Khiêm, P. 22, Bình Thạnh, Hồ Chí Minh</span>
                        </p>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="tel:0981041694">0981 041 694</a>
                    </li>
                    <li>
                        <i class="fa fa-print"></i>
                        MST: 0316500513
                    </li>
                    <li>
                        <a href="mailto:truongtainang2018@gmail.com"><i class="fa fa-envelope"></i>truongtainang2018@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Bảo hộ bản quyền</h4>
                <p>Tất cả nội dung và hình ảnh đều được đăng ký , nghiêm cấm sao chép dưới mọi hình thức.</p>
                <a href="" class="dmca-badge"><img src="./assets/img/dmca_protected_1_120.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container flex-lc">
            <div class="copyright-left">2021 © <a href="https://giathuecanho.com/" title="Tư vấn mua – bán – cho thuê căn hộ TpHCM">GIATHUECANHO</a>. </div>
            <div class="to-top ml-auto">
                <a href="" class="anchor"><span class="fa fa-anchor"></span></a>
                <a id="move-to-top" class="animate backtop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</footer>