<header>
    <div class="topheader">
        <div class="container">
            <div class="text">Nice Apartment For You - Happy For Us!</div>
            <button class="navbar-toggler border-0" type="button">
                <span></span>
            </button>
        </div>
    </div>
    <div class="container pt-3 pb-3 flex-lc">
        <a href="" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <div class="contact flex">
            <div class="contact__item flex">
                <div class="icon flex-center"><i class="fa fa-phone"></i></div>
                <div class="content">
                    <a href="tel:(84) 981 041 694" class="phone">(84) 981 041 694</a>
                    <a href="mailto:truongtainang2018@gmail.com" class="mail">truongtainang2018@gmail.com</a>
                </div>
            </div>
            <div class="contact__item flex">
                <div class="icon flex-center"><i class="fas fa-location-arrow"></i></div>
                <div class="content">
                    <h5>51E Lê Trực, Phường 7</h5>
                    <p>Quận Bình Thạnh, Hồ Chí Minh, Việt Nam</p>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar">
        <div class="navbar-collapse container">
            <a href="javascript:;" class="close" data-miss="collapse"></a>
            <ul class="navbar-nav">
                <li><a href="https://thuclfc.gitlab.io/giathuecanho/build/home.html" title="trang chủ"><i class="fa fa-home"></i> trang chủ</a></li>
                <li><a href="https://thuclfc.gitlab.io/giathuecanho/build/batdongsan.html" title="Dự án"><i class="far fa-money-bill-alt"></i> Dự án</a></li>
                <li class="menu-item menu-item-cl menu-item-has-children">
                    <a href="https://thuclfc.gitlab.io/giathuecanho/build/category.html" title="Cho thuê"><i class="fas fa-chart-area"></i> Cho thuê</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-has-children">
                            <a href="" title=""><i class="fa fa-home"></i> CĂN HỘ CHUNG CƯ</a>
                            <ul class="sub-menu1">
                                <li><a href=""><i class="fas fa-map-marker-alt"></i> Quận 1</a></li>
                                <li><a href=""><i class="fas fa-map-marker-alt"></i> Quận 2</a></li>
                                <li><a href=""><i class="fas fa-map-marker-alt"></i> Quận 3</a></li>
                                <li><a href=""><i class="fas fa-map-marker-alt"></i> Quận 4</a></li>
                                <li><a href=""><i class="fas fa-map-marker-alt"></i> Quận 5</a></li>
                                <li><a href=""><i class="fas fa-map-marker-alt"></i> Quận 7</a></li>
                                <li><a href=""><i class="fas fa-map-marker-alt"></i> Quận 10</a></li>
                                <li><a href=""><i class="fas fa-map-marker-alt"></i> Phú Nhuận</a></li>
                                <li><a href=""><i class="fas fa-map-marker-alt"></i> Tân Bình</a></li>
                                <li><a href=""><i class="fas fa-map-marker-alt"></i> Bình Thạnh</a></li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="" title=""><i class="fa fa-building"></i> Văn phòng</a>
                            <ul class="sub-menu1">
                                <li><a href=""><i class="fa fa-building-o"></i> Văn phòng quận 1</a></li>
                                <li><a href=""><i class="fa fa-building-o"></i> Văn phòng quận 2</a></li>
                                <li><a href=""><i class="fa fa-building-o"></i> Văn phòng quận 4</a></li>
                                <li><a href=""><i class="fa fa-building-o"></i> Văn phòng quận 7</a></li>
                                <li><a href=""><i class="fa fa-building-o"></i> Văn phòng bình thạnh</a></li>
                                <li><a href=""><i class="fa fa-building-o"></i> Văn phòng phú nhuận</a></li>
                            </ul>
                        </li>
                        <li><a href="" title=""><i class="fa fa-key"></i> Nhà phố</a></li>
                        <li><a href="" title=""><i class="fa fa-key"></i> Biệt thự</a></li>
                        <li><a href="" title=""><i class="fa fa-key"></i> Shophouse</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a href="https://thuclfc.gitlab.io/giathuecanho/build/category.html" title="Mua bán"><i class="far fa-gem"></i> Mua bán</a>
                    <ul class="sub-menu">
                        <li><a href="" title="">Bán căn hộ quận 2</a></li>
                        <li><a href="" title="">Bán căn hộ quận 4</a></li>
                        <li><a href="" title="">Bán căn hộ bình thạnh</a></li>
                        <li><a href="" title="">Bán căn hộ phú nhuận</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-cl menu-item-has-children">
                    <a href="https://thuclfc.gitlab.io/giathuecanho/build/tin-tuc.html" title="Tin tức">Tin tức</a>
                    <ul class="sub-menu">
                        <li class="menu-item menu-item-has-children">
                            <a href="" title="">Kinh doanh BĐS</a>
                            <ul class="sub-menu1">
                                <li><a href="" title="">KIẾN THỨC BẤT ĐỘNG SẢN</a></li>
                                <li><a href="" title="">CÔNG TY BẤT ĐỘNG SẢN</a></li>
                            </ul>
                        </li>
                        <li><a href="" title="">Tin tức dự án</a></li>
                        <li><a href="" title="">Quy hoạch xây dựng</a></li>
                        <li><a href="" title="">Phong thủy nhà ở</a></li>
                    </ul>
                </li>
                <li class="menu-item menu-item-cl menu-item-has-children">
                    <a href="https://thuclfc.gitlab.io/giathuecanho/build/dang-tin.html" title=""><i class="fas fa-pencil-alt"></i> Đăng tin</a>
                    <ul class="sub-menu">
                        <li><a href=""><i class="fa fa-sticky-note"></i> CHO THUÊ NHÀ</a></li>
                        <li><a href="" title="">Đăng tin bán nhà</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="modal-navbar"></div>
</header>