<main>
    <div class="container">
        <div class="author-page">
            <div class="author flex">
                <div class="author__avatar"><img src="./assets/img/Nguyen-thi-tu-quyen.jpg" alt=""></div>
                <div class="author__info">
                    <h3>Nguyễn Thị Tú Quyên</h3>
                    <p><a href="mailto:sankiu2711@gmail.com"><i class="wre-icon-email"></i>sankiu2711@gmail.com</a></p>
                    <p>Tôi là Nguyễn Thị Tú Quyên. Copywriter chuyên mảng bất động sản khu vực Hồ Chí Minh .</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <article class="post">
                        <a href="" class="post__thumb pr"><img src="./assets/img/penthouse-tropic-garden-2-400x300.jpg" alt=""></a>
                        <h3><a href="" class="post__title">Bán căn penthouse 3 phòng ngủ tại Tropic Garden, diện tích 280m2</a></h3>
                        <div class="post__detail">
                            <div class="price">16,000,000,000</div>
                            <div class="address">Đường 66, Thảo Điền, quận 2</div>
                            <div class="utilities flex">
                                <div class="beds">3 <i class="wre-icon-bed-4"></i></div>
                                <div class="baths">3 <i class="wre-icon-bath-5"></i></div>
                                <div class="cars">4 <i class="wre-icon-car-4"></i></div>
                            </div>
                            <div class="description">🌈 View: Trực diện sông, tòa tháp Bitexco, tháp Landmark 81 🏠 Tình trạng căn hộ: Full nội thất cao...</div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post">
                        <a href="" class="post__thumb pr">
                            <img src="./assets/img/penthouse-tropic-garden-2-400x300.jpg" alt="">
                            <span class="wre-premium-wrapper">Cao cấp</span>
                        </a>
                        <h3><a href="" class="post__title">Bán căn penthouse 3 phòng ngủ tại Tropic Garden, diện tích 280m2</a></h3>
                        <div class="post__detail">
                            <div class="price">35,000,000,000<small>₫</small> / CĂN</div>
                            <div class="address">Đường 66, Thảo Điền, quận 2</div>
                            <div class="utilities flex">
                                <div class="beds">3 <i class="wre-icon-bed-4"></i></div>
                                <div class="baths">3 <i class="wre-icon-bath-5"></i></div>
                                <div class="cars">4 <i class="wre-icon-car-4"></i></div>
                            </div>
                            <div class="description">🍀 Hướng nhà:  Nhà hướng Đông Nam. 🔸️ Cấu trúc: Hầm (để được 3 chiếc ô tô) + trệt +...</div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post">
                        <a href="" class="post__thumb pr"><img src="./assets/img/penthouse-tropic-garden-2-400x300.jpg" alt=""></a>
                        <h3><a href="" class="post__title">Bán căn penthouse 3 phòng ngủ tại Tropic Garden, diện tích 280m2</a></h3>
                        <div class="post__detail">
                            <div class="price">16,000,000,000</div>
                            <div class="address">Đường 66, Thảo Điền, quận 2</div>
                            <div class="utilities flex">
                                <div class="beds">3 <i class="wre-icon-bed-4"></i></div>
                                <div class="baths">3 <i class="wre-icon-bath-5"></i></div>
                                <div class="cars">4 <i class="wre-icon-car-4"></i></div>
                            </div>
                            <div class="description">🌈 View: Trực diện sông, tòa tháp Bitexco, tháp Landmark 81 🏠 Tình trạng căn hộ: Full nội thất cao...</div>
                        </div>
                    </article>
                </div>
            </div>
            <ul class="pagination ml-auto">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
</main>


