<main>
    <div class="container">
        <div class="description">
            <div class="description__title">
                Bạn đang tìm nơi cho thuê nhà? Batdongsan GiaThueCanHo - Kênh thông tin bất động sản mới nhất Việt Nam do Co - Founder Trương Tài Năng sáng lập.?
            </div>
            <div class="description__content">
                <span style="font-weight: 400;"> Công ty GiaThueCanHo là 1 trong các công ty chuyên về lĩnh vực bất động sản cho thuê căn hộ, <strong>cho thuê nhà</strong>, cho thuê văn phòng, cho thue mat bang. Song song với đó<strong> GiaThueCanHo</strong> có đội ngũ chuyên viên tư vấn <strong>muabannhadat</strong>, mua bán đầu tư <strong>căn hộ chung cư</strong>, đầu tư căn hộ cho thuê tại các quận trung tâm tại Tp HCM, Việt Nam&nbsp;</span>
            </div>
        </div>
        <div class="project">
            <div class="project__filter flex">
                <div class="filter active" data-filter="all">
                    <a href="javascript:;">All Projects</a>
                </div>
                <div class="filter" data-filter=".tai-quan-1">
                    <a href="javascript:;">Bất động sản tại quận 1</a>
                </div>
                <div class="filter" data-filter=".tai-quan-2">
                    <a href="javascript:;">Bất động sản tại quận 2</a>
                </div>
                <div class="filter" data-filter=".can-ho-binh-duong">
                    <a href="javascript:;">Căn hộ Bình Dương</a>
                </div>
                <div class="filter" data-filter=".can-ho-quan-binh-tan">
                    <a href="javascript:;">Căn hộ quận Bình Tân</a>
                </div>
                <div class="filter" data-filter=".can-ho-quan-binh-thanh">
                    <a href="javascript:;">Căn hộ quận Bình Thạnh</a>
                </div>
                <div class="filter" data-filter=".can-ho-quan-go-vap">
                    <a href="javascript:;">Căn hộ quận Gò Vấp</a>
                </div>
                <div class="filter" data-filter=".can-ho-quan-phu-nhuan">
                    <a href="javascript:;">Căn hộ Quận Phú Nhuận</a>
                </div>
                <div class="filter" data-filter=".can-ho-quan-thu-duc">
                    <a href="javascript:;">Căn hộ quận Thủ Đức</a>
                </div>
                <div class="filter" data-filter=".tai-nha-be">
                    <a href="javascript:;">Dự án Bất động sản tại Nhà Bè</a>
                </div>
                <div class="filter" data-filter=".tai-quan-4">
                    <a href="javascript:;">Dự án bất động sản tai Quận 4</a>
                </div>
                <div class="filter" data-filter=".tai-quan-7">
                    <a href="javascript:;">Dự án Bất động sản tại quận 7</a>
                </div>
                <div class="filter" data-filter=".tai-quan-9">
                    <a href="javascript:;">Dự án bất động sản tại quận 9</a>
                </div>
                <div class="filter" data-filter=".condotel">
                    <a href="javascript:;">Dự án Condotel</a>
                </div>
                <div class="filter" data-filter=".du-an-dat-nen">
                    <a href="javascript:;">Dự án Đất Nền</a>
                </div>
                <div class="filter" data-filter=".shophouse">
                    <a href="javascript:;">Dự án Shophouse</a>
                </div>
            </div>
            <div class="project__list row">
                <div class="mix tai-quan-1 col-lg-4 col-md-6">
                    <article class="post">
                        <div class="post__thumb pr">
                            <a href="" title=""><img src="./assets/img/grand-marina-saign-quan-1-7-1-370x230.jpg" alt=""></a>
                            <div class="ribbon ribbon2 ribbon-top-right"><span>Đang giữ chỗ</span></div>
                        </div>
                        <div class="post__info">
                            <h3><a href="" title="">Grand Marina Saigon</a></h3>
                            <address>Số 2 Đường Tôn Đức Thắng, Phường Bến Nghé, Quận 1, Tp HCM</address>
                            <div class="label">Căn hộ chung cư</div>
                            <div class="price">Liên hệ PKD</div>
                        </div>
                    </article>
                </div>
                <div class="mix tai-quan-9 col-lg-4 col-md-6">
                    <article class="post">
                        <div class="post__thumb pr">
                            <a href="" title=""><img src="./assets/img/phoi-canh-tong-the-the-9-stellars-370x230.jpg" alt=""></a>
                            <div class="ribbon ribbon2 ribbon-top-right"><span>Đang giữ chỗ</span></div>
                        </div>
                        <div class="post__info">
                            <h3><a href="" title="">The 9 Stellars</a></h3>
                            <address>Đường Hoàng Hữu Nam, phường Long Bình, quận 9, thành phố Thủ Đức</address>
                            <div class="label">Căn hộ & Nhà phố</div>
                            <div class="price">3 Tỷ/ Căn</div>
                        </div>
                    </article>
                </div>
                <div class="mix can-ho-quan-thu-duc col-lg-4 col-md-6">
                    <article class="post">
                        <div class="post__thumb pr">
                            <a href="" title=""><img src="./assets/img/KING-CROWN-INFINITY-1-370x230.jpg" alt=""></a>
                            <div class="ribbon ribbon2 ribbon-top-right"><span>Sắp mở bán</span></div>
                        </div>
                        <div class="post__info">
                            <h3><a href="" title="">Căn hộ King Crown Infinity</a></h3>
                            <address>Số 218 Võ Văn Ngân, P. Bình Thọ, Q. Thủ Đức, Tp.HCM</address>
                            <div class="label">Căn hộ</div>
                            <div class="price">3,5 Tỷ/ Căn</div>
                        </div>
                    </article>
                </div>
                <div class="mix tai-quan-2 col-lg-4 col-md-6">
                    <article class="post">
                        <div class="post__thumb pr">
                            <a href="" title=""><img src="./assets/img/grand-marina-saign-quan-1-7-1-370x230.jpg" alt=""></a>
                            <div class="ribbon ribbon-top-right"><span>Đang mở bán</span></div>
                        </div>
                        <div class="post__info">
                            <h3><a href="" title="">Grand Marina Saigon</a></h3>
                            <address>Số 2 Đường Tôn Đức Thắng, Phường Bến Nghé, Quận 1, Tp HCM</address>
                            <div class="label">Căn hộ chung cư</div>
                            <div class="price">Liên hệ PKD</div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>


