<main>
    <div class="search">
        <div class="container">
            <h1>Tìm kiếm ngôi nhà yêu thích của bạn</h1>
            <ul class="nav search__tab">
                <li><a href="#form1" data-toggle="tab" class="active"><i class="far fa-check-circle"></i> BĐS cần bán</a></li>
                <li><a href="#form2" data-toggle="tab"><i class="far fa-check-circle"></i> BĐS cho thuê</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="form1">
                    <form action="" method="" class="flex">
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Nhập từ khóa cần tìm ...">
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Loại nhà đất</option>
                                    <option value="">Tất cả</option>
                                    <option value="">Căn hộ chung cư</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Quận</option>
                                    <option value="">Tất cả</option>
                                    <option value="">Quận 1</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Diện tích</option>
                                    <option value="">Chưa xác định</option>
                                    <option value=""> <= 30 m2 </option>
                                    <option value="">30-50 m2</option>
                                    <option value="">50-80 m2</option>
                                    <option value="">80-100 m2</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn_submit">Tìm kiếm</button>
                        <div class="advanced">
                            <button type="button" class="btn_advanced">Nâng cao <i class="fas fa-chevron-down"></i></button>
                            <div class="advanced__expand flex">
                                <div class="item">
                                    <h5>Khoảng giá</h5>
                                    <select class="selectbox">
                                        <option value="">Tất cả</option>
                                        <option value="">5 - 10 tỷ</option>
                                        <option value="">10 - 40 tỷ</option>
                                        <option value="">40 - 70 tỷ</option>
                                        <option value="">70 - 100 tỷ</option>
                                        <option value="">>100 tỷ</option>
                                    </select>
                                </div>
                                <div class="item">
                                    <h5>Số phòng ngủ</h5>
                                    <select class="selectbox">
                                        <option value="">Tất cả</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="form2">
                    <form action="" method="" class="flex">
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Nhập từ khóa cần tìm ...">
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Loại nhà đất</option>
                                    <option value="">Tất cả</option>
                                    <option value="">Căn hộ chung cư</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Quận</option>
                                    <option value="">Tất cả</option>
                                    <option value="">Quận 1</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Diện tích</option>
                                    <option value="">Chưa xác định</option>
                                    <option value=""> <= 30 m2 </option>
                                    <option value="">30-50 m2</option>
                                    <option value="">50-80 m2</option>
                                    <option value="">80-100 m2</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn_submit">Tìm kiếm</button>
                        <div class="advanced">
                            <button type="button" class="btn_advanced">Nâng cao <i class="fas fa-chevron-down"></i></button>
                            <div class="advanced__expand flex">
                                <div class="item">
                                    <h5>Khoảng giá</h5>
                                    <select class="selectbox">
                                        <option value="">Tất cả</option>
                                        <option value="">5 - 10 tỷ</option>
                                        <option value="">10 - 40 tỷ</option>
                                        <option value="">40 - 70 tỷ</option>
                                        <option value="">70 - 100 tỷ</option>
                                        <option value="">>100 tỷ</option>
                                    </select>
                                </div>
                                <div class="item">
                                    <h5>Số phòng ngủ</h5>
                                    <select class="selectbox">
                                        <option value="">Tất cả</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="category__title flex-center">
            <h1 class="title">Cho thuê căn hộ chung cư ✔️</h1>
        </div>
        <div class="category__content">
            <div class="container">
                <div class="category__list">
                    <div class="description">
                        <div class="description__title">
                            Bạn đang tìm đơn vị cho thuê nhà chung cư giá rẻ Tphcm uy tín chất lượng?
                        </div>
                        <div class="description__content">
                            <span style="font-weight: 400;"> Công ty GiaThueCanHo là 1 trong các công ty chuyên về lĩnh vực bất động sản cho thuê căn hộ, <strong>cho thuê nhà</strong>, cho thuê văn phòng, cho thue mat bang. Song song với đó<strong> GiaThueCanHo</strong> có đội ngũ chuyên viên tư vấn <strong>muabannhadat</strong>, mua bán đầu tư <strong>căn hộ chung cư</strong>, đầu tư căn hộ cho thuê tại các quận trung tâm tại Tp HCM, Việt Nam&nbsp;</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <article class="post">
                                <div class="post__thumb pr">
                                    <a href="" title=""><img src="./assets/img/grand-marina-saign-quan-1-7-1-370x230.jpg" alt=""></a>
                                    <div class="ribbon ribbon-top-right"><span>Đang giữ chỗ</span></div>
                                </div>
                                <div class="post__info">
                                    <h3><a href="" title="">Grand Marina Saigon</a></h3>
                                    <address>Số 2 Đường Tôn Đức Thắng, Phường Bến Nghé, Quận 1, Tp HCM</address>
                                    <div class="label">Căn hộ chung cư</div>
                                    <div class="price">25 Triệu/ Tháng</div>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <article class="post">
                                <div class="post__thumb pr">
                                    <a href="" title=""><img src="./assets/img/grand-marina-saign-quan-1-7-1-370x230.jpg" alt=""></a>
                                    <div class="ribbon ribbon2 ribbon-top-right"><span>Đang cho thuê</span></div>
                                </div>
                                <div class="post__info">
                                    <h3><a href="" title="">Grand Marina Saigon</a></h3>
                                    <address>Số 2 Đường Tôn Đức Thắng, Phường Bến Nghé, Quận 1, Tp HCM</address>
                                    <div class="label">Căn hộ chung cư</div>
                                    <div class="price">25 Triệu/ Tháng</div>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <article class="post">
                                <div class="post__thumb pr">
                                    <a href="" title=""><img src="./assets/img/grand-marina-saign-quan-1-7-1-370x230.jpg" alt=""></a>
                                    <div class="ribbon ribbon2 ribbon-top-right"><span>Đang giữ chỗ</span></div>
                                </div>
                                <div class="post__info">
                                    <h3><a href="" title="">Grand Marina Saigon</a></h3>
                                    <address>Số 2 Đường Tôn Đức Thắng, Phường Bến Nghé, Quận 1, Tp HCM</address>
                                    <div class="label">Căn hộ chung cư</div>
                                    <div class="price">25 Triệu/ Tháng</div>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <article class="post">
                                <div class="post__thumb pr">
                                    <a href="" title=""><img src="./assets/img/grand-marina-saign-quan-1-7-1-370x230.jpg" alt=""></a>
                                    <div class="ribbon ribbon2 ribbon-top-right"><span>Đang giữ chỗ</span></div>
                                </div>
                                <div class="post__info">
                                    <h3><a href="" title="">Grand Marina Saigon</a></h3>
                                    <address>Số 2 Đường Tôn Đức Thắng, Phường Bến Nghé, Quận 1, Tp HCM</address>
                                    <div class="label">Căn hộ chung cư</div>
                                    <div class="price">25 Triệu/ Tháng</div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


