<main>
    <div class="box-title">
        <h1 class="title">Đăng tin cho thuê nhà – căn hộ chung cư của bạn tại GIATHUECANHO</h1>
    </div>
    <div class="dangtin container">
        <h2>KÝ GỬI CHO THUÊ NHÀ – CĂN HỘ CỦA BẠN TẠI ĐÂY</h2>
        <div class="note">(Vui lòng nhập thông tin chính xác)</div>
        <form action="" method="post">
            <div class="form-group">
                <input type="text" name="" placeholder="Họ và Tên (*)">
            </div>
            <div class="form-group">
                <input type="number" name="" placeholder="Số điện thoại(*)">
            </div>
            <div class="form-group">
                <input type="email" name="" placeholder="Địa chỉ email (*)">
            </div>
            <div class="form-group">
                <input type="text" name="" placeholder="Tên dự án - Block - Tầng - Mã căn hộ (*)">
            </div>
            <div class="form-group">
                <input type="text" name="" placeholder="Diện tích + Số phòng ngủ (*)">
            </div>
            <div class="form-group">
                <input type="text" name="" placeholder="Giá cho thuê/bán mong muốn (*)">
            </div>
            <button type="submit" class="btn_submit flex-center">Gửi thông tin</button>
        </form>
        <div class="text">
            <p><strong>**Lưu ý: Thông tin quý khách hàng được bảo mật tuyệt đối</strong></p>
            <p>Chúng tôi luôn mong muốn lắng nghe chia sẻ từ khách hàng. Những thông tin phản hồi, đóng góp từ bạn sẽ giúp sản phẩm và dịch vụ tại Giá Thuê Căn Hộ ngày càng hoàn thiện hơn.</p>
            <p>Đồng thời, chúng tôi luôn cập nhật liên tục thông tin về những dự án mới nhất. Giải đáp kịp thời những thắc mắc liên quan đến sản phẩm và dịch vụ.</p>
            <p>Vui lòng để lại thông tin bên dưới. Đội ngũ nhân viên tư vấn sẽ phản hồi đến bạn nhanh nhất có thể.</p>
            <p><span style="font-weight: 400;">Mọi thông tin của bạn sẽ được bảo mật tuyệt đối theo</span> <a href="https://giathuecanho.com/chinh-sach-bao-mat-thong-tin-tren-website-giathuecanho" target="_blank" rel="noopener noreferrer"><b>Chính Sách Bảo Mật</b></a> <span style="font-weight: 400;">tại Giá Thuê Căn Hộ.</span></p>
            <p><span style="font-weight: 400;">Hoặc liên hệ trực tiếp qua:</span></p>
            <p><span style="font-weight: 400;">Địa chỉ văn phòng: 01 Ung Văn Khiêm, phường 25, quận Bình Thạnh, thành phố Hồ Chí Minh.</span></p>
            <p><span style="font-weight: 400;">Hotline: 0981 041 694</span></p>
            <p><span style="font-weight: 400;">Email: </span><span style="font-weight: 400;"><a href="mailto:truongtainang2018@gmail.com">truongtainang2018@gmail.com</a></span></p>
        </div>
    </div>
</main>


