<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="page-detail">
                    <div class="info flex">
                        <p><i class="fa fa-user"></i> <a href="">Nguyễn Thị Tú Quyên</a></p>
                        <p><i class="fa fa-calendar"></i> 16 Tháng Tư, 2021</p>
                    </div>
                    <h1 class="title">Masterise Homes- chủ đầu tư dự án căn hộ Lumière Riverside</h1>
                    <div class="gallery">
                        <div class="slider slider-for">
                            <div class="item">
                                <a href=""><img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt=""></a>
                            </div>
                            <div class="item">
                                <a href=""><img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="slider slider-nav">
                            <div class="item">
                                <img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt="">
                            </div>
                            <div class="item">
                                <img src="./assets/img/estella-height-2pn-98m2-800x600.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="title">Masterise Homes- chủ đầu tư dự án căn hộ Lumière Riverside</div>
                        <div class="flex-lc">
                            <div class="utilities flex">
                                <div class="beds">3 <i class="wre-icon-bed-4"></i></div>
                                <div class="baths">3 <i class="wre-icon-bath-5"></i></div>
                                <div class="cars">4 <i class="wre-icon-car-4"></i></div>
                            </div>
                            <div class="price">35,000,000,000<small>₫</small> / Tháng</div>
                            <div class="id">ID# 17184</div>
                            <div class="status"><i class="wre-icon-auction-1"></i> Còn Trống</div>
                        </div>
                    </div>
                    <div class="info-detail">
                        <h3>THÔNG TIN CHI TIẾT CĂN HỘ</h3>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <h4>Internal Features</h4>
                                <ul>
                                    <li><i class="wre-icon-tick-7"></i> Rèm</li>
                                    <li><i class="wre-icon-tick-7"></i> Máy Lạnh</li>
                                    <li><i class="wre-icon-tick-7"></i> Thiết Bị Vệ Sinh</li>
                                    <li><i class="wre-icon-tick-7"></i>  Nội Thất Đầy Đủ</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <h4>External Features</h4>
                                <ul>
                                    <li><i class="wre-icon-tick-7"></i> Ban Công</li>
                                    <li><i class="wre-icon-tick-7"></i> Công viên</li>
                                    <li><i class="wre-icon-tick-7"></i> Hầm gửi xe</li>
                                    <li><i class="wre-icon-tick-7"></i> Trung tâm thương mại</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <article class="post-detail">
                       <p>Cho thuê căn Estella Heights:2 phòng ngủ, diện tích 98m2, được trang bị đầy đủ nội thất cao cấp, sang trọng, hợp phong thủy. Giá thuê 37 triệu/tháng.</p>
                        <p><strong>* Tiện ích:</strong></p>
                        <p>- Khung cảnh thiên nhiên thoáng mát, thật sự hoàn hảo và rộng lớn không chỉ tại The Estella / Estella Heights mà còn mở rộng ra khu công viên 7 hécta ngay bên cạnh.</p>
                        <p>- Sân chơi trẻ em, khu vực mát mẻ outside nướng BBQ.</p>
                        <p>- Hồ bơi dài 50m và khu thể thao ngoài trời.</p>
                        <p>- Sân tennis, golf, nhà hàng nội khu sang trọng mang phong cách Tây.</p>
                        <p>- Sống trong cộng đồng dân cư an ninh, thượng lưu.</p>
                        <p>Estella Heights mang đến cho bạn một lối sống lành mạnh và sang trọng như anh/chị mơ ước.</p>
                        <p>* Tư vấn bán hàng nhiệt tình, vui vẻ.</p>
                        <p>* Công ty chúng tôi làm việc với tất cả uy tín và trách nhiệm.</p>
                        <p>* Hỗ trợ tư vấn chọn hướng nhà phù hợp.</p>
                        <p>* Hỗ trợ chọn căn cho đến khi ưng ý nhất.</p>
                        <p>* Thủ tục giấy tờ pháp lý, công chứng, vay ngân hàng chuyên nghiệp và uy tín.</p>
                        <p>Liên hệ PKD GIATHUECANHO: 0981 041 694</p>
                    </article>
                    <ul class="social flex">
                        <li><a href=""><i class="wre-icon-facebook"></i> Facebook</a></li>
                        <li><a href=""><i class="wre-icon-twitter"></i> Twitter</a></li>
                        <li><a href=""><i class="wre-icon-gplus"></i> Google</a></li>
                        <li><a href=""><i class="wre-icon-pinterest"></i> Pin it</a></li>
                    </ul>
                    <div class="author">
                        <h4>About The Author</h4>
                        <div class="flex-lc">
                            <div class="author__avatar"><img src="./assets/img/Nguyen-thi-tu-quyen.jpg" alt=""></div>
                            <div class="author__info">
                                <h5><a href="">Nguyễn Thị Tú Quyên</a></h5>
                                <p>Tôi là Nguyễn Thị Tú Quyên. Copywriter chuyên mảng bất động sản khu vực Hồ Chí Minh .</p>
                            </div>
                        </div>
                    </div>
                    <div class="truong_author">
                        <h4><a href="">Trương Tài Năng</a></h4>
                        <p>Đầy đủ thông tin Trương Tài Năng Co-Founder GIATHUECANHO Email: truongtainang2018@gmail.com</p>
                        <ul class="ct flex">
                            <li><a href="https://www.facebook.com/truongtainang2018/posts/362643747928962" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/truongtainang/status/1117281477513732096" class="twitter"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.pinterest.com/truongtainang/" class="pinterest"><i class="fab fa-pinterest"></i></a></li>
                            <li><a href="https://www.instagram.com/truongtainang/" class="stumble"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/truongtainang/" class="linkedin"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="related_search">
                        <h4>Related Listings</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <article class="post">
                                    <a href="" class="post__thumb pr"><img src="./assets/img/penthouse-tropic-garden-2-400x300.jpg" alt=""></a>
                                    <h3><a href="" class="post__title">Bán căn penthouse 3 phòng ngủ tại Tropic Garden, diện tích 280m2</a></h3>
                                    <div class="post__detail">
                                        <div class="price">16,000,000,000</div>
                                        <div class="address">Đường 66, Thảo Điền, quận 2</div>
                                        <div class="utilities flex">
                                            <div class="beds">3 <i class="wre-icon-bed-4"></i></div>
                                            <div class="baths">3 <i class="wre-icon-bath-5"></i></div>
                                            <div class="cars">4 <i class="wre-icon-car-4"></i></div>
                                        </div>
                                        <div class="description">🌈 View: Trực diện sông, tòa tháp Bitexco, tháp Landmark 81 🏠 Tình trạng căn hộ: Full nội thất cao...</div>
                                        <a href="#" class="add-to-compare " data-id="17496"><i class="wre-icon-compare"></i>Add to Compare</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <article class="post">
                                    <a href="" class="post__thumb pr">
                                        <img src="./assets/img/penthouse-tropic-garden-2-400x300.jpg" alt="">
                                        <span class="wre-premium-wrapper">Cao cấp</span>
                                    </a>
                                    <h3><a href="" class="post__title">Bán căn penthouse 3 phòng ngủ tại Tropic Garden, diện tích 280m2</a></h3>
                                    <div class="post__detail">
                                        <div class="price">35,000,000,000<small>₫</small> / CĂN</div>
                                        <div class="address">Đường 66, Thảo Điền, quận 2</div>
                                        <div class="utilities flex">
                                            <div class="beds">3 <i class="wre-icon-bed-4"></i></div>
                                            <div class="baths">3 <i class="wre-icon-bath-5"></i></div>
                                            <div class="cars">4 <i class="wre-icon-car-4"></i></div>
                                        </div>
                                        <div class="description">🍀 Hướng nhà:  Nhà hướng Đông Nam. 🔸️ Cấu trúc: Hầm (để được 3 chiếc ô tô) + trệt +...</div>
                                        <a href="#" class="add-to-compare " data-id="17496"><i class="wre-icon-compare"></i>Add to Compare</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar">
                <div class="advisory widget">
                    <h4>Gửi thông tin tư vấn</h4>
                    <form action="" method="">
                        <div class="form-group">
                            <input type="text" name="" placeholder="Họ và Tên (*)">
                        </div>
                        <div class="form-group">
                            <input type="number" name="" placeholder="Số điện thoại(*)">
                        </div>
                        <div class="form-group">
                            <input type="email" name="" placeholder="Địa chỉ email (*)">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Nhu cầu (*)"></textarea>
                        </div>
                        <button type="submit" class="btn_submit">Gửi thông tin tư vấn</button>
                    </form>
                </div>
                <div class="fanpage">
                    <h4>Fanpage</h4>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgiathuecanho%2F&tabs=timeline&width=339&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="339" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </div>
</main>


