<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="page-detail">
                    <div class="info flex">
                        <p><i class="fa fa-user"></i> <a href="">Nguyễn Thị Tú Quyên</a></p>
                        <p><i class="fa fa-calendar"></i> 16 Tháng Tư, 2021</p>
                        <p><i class="fa fa-tags"></i><a href="" title="">Tin tức dự án</a></p>
                    </div>
                    <h1 class="title">Masterise Homes- chủ đầu tư dự án căn hộ Lumière Riverside</h1>
                    <article class="post-detail">
                        <p style="text-align: justify;">Chủ đầu tư là một trong những tiêu chí được nhiều khách hàng đánh giá trước khi quyết định mua căn hộ để đầu tư hoặc để ở. Vậy chủ đầu tư Masterise Homes (Thảo Điền Invenstment) của dự án Lumiere Riverside đang làm mưa làm gió ở thị trường bất động sản Đông Sài Gòn là ai? Liệu có uy tín không? Cùng tìm hiểu ngay trong bài viết dưới đây nhé.</p>
                        <h2 id="chu-dau-tu-masterise-homes-co-uy-tin-khong" class="ftwp-heading" style="text-align: justify;"><span style="font-size: 20px; color: #0000ff;"><strong>Chủ đầu tư Masterise Homes có uy tín không?</strong></span></h2>
                        <p style="text-align: justify;"><span style="font-weight: 400;">Masterise Homes (tiền thân là công ty cổ phần đầu tư Thảo Điền – Thảo Điền Investment) là danh tiếng có tiếng tăm lừng lẫy trong giới đầu tư bất động sản với tiềm lực tài chính vững mạnh. Vào năm 2015, Masterise Homes được vinh danh là một trong 10 chủ đầu tư tốt nhất Việt Nam.&nbsp;</span></p>
                    </article>
                    <div class="related-posts">
                        <h4>Related Posts</h4>
                        <article class="post flex">
                            <div class="post__thumb"><img src="./assets/img/grand-marina-saign-quan-1-7-1-370x230.jpg" alt=""></div>
                            <div class="post__content">
                                <time>26 Tháng Sáu, 2020</time>
                                <h3><a href="">Đường Lê Văn Lương Nhà Bè cùng những tiềm năng phát triển</a></h3>
                                <p>MỤC LỤCChủ đầu tư Masterise Homes có …</p>
                                <div class="info flex">
                                    <p><i class="fa fa-user"></i><a href="">Nguyễn Thị Tú Quyên</a></p>
                                    <a href="" class="btn_comment"><i class="fa fa-comment"></i> 0</a>
                                </div>
                            </div>
                        </article>
                        <article class="post flex">
                            <div class="post__thumb"><img src="./assets/img/grand-marina-saign-quan-1-7-1-370x230.jpg" alt=""></div>
                            <div class="post__content">
                                <time>26 Tháng Sáu, 2020</time>
                                <h3><a href="">Đường Lê Văn Lương Nhà Bè cùng những tiềm năng phát triển</a></h3>
                                <p>MỤC LỤCChủ đầu tư Masterise Homes có …</p>
                                <div class="info flex">
                                    <p><i class="fa fa-user"></i><a href="">Nguyễn Thị Tú Quyên</a></p>
                                    <a href="" class="btn_comment"><i class="fa fa-comment"></i> 0</a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="author">
                        <h4>About The Author</h4>
                        <div class="flex-lc">
                            <div class="author__avatar"><img src="./assets/img/Nguyen-thi-tu-quyen.jpg" alt=""></div>
                            <div class="author__info">
                                <h5><a href="">Nguyễn Thị Tú Quyên</a></h5>
                                <p>Tôi là Nguyễn Thị Tú Quyên. Copywriter chuyên mảng bất động sản khu vực Hồ Chí Minh .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar">
                <div class="advisory widget">
                    <h4>Gửi thông tin tư vấn</h4>
                    <form action="" method="">
                        <div class="form-group">
                            <input type="text" name="" placeholder="Họ và Tên (*)">
                        </div>
                        <div class="form-group">
                            <input type="number" name="" placeholder="Số điện thoại(*)">
                        </div>
                        <div class="form-group">
                            <input type="email" name="" placeholder="Địa chỉ email (*)">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Nhu cầu (*)"></textarea>
                        </div>
                        <button type="submit" class="btn_submit">Gửi thông tin tư vấn</button>
                    </form>
                </div>
                <div class="fanpage">
                    <h4>Fanpage</h4>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgiathuecanho%2F&tabs=timeline&width=339&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="339" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </div>
</main>


