<main>
    <div class="search">
        <div class="container">
            <h1>Tìm kiếm ngôi nhà yêu thích của bạn</h1>
            <ul class="nav search__tab">
                <li><a href="#form1" data-toggle="tab" class="active"><i class="far fa-check-circle"></i> BĐS cần bán</a></li>
                <li><a href="#form2" data-toggle="tab"><i class="far fa-check-circle"></i> BĐS cho thuê</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="form1">
                    <form action="" method="" class="flex">
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Nhập từ khóa cần tìm ...">
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Loại nhà đất</option>
                                    <option value="">Tất cả</option>
                                    <option value="">Căn hộ chung cư</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Quận</option>
                                    <option value="">Tất cả</option>
                                    <option value="">Quận 1</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Diện tích</option>
                                    <option value="">Chưa xác định</option>
                                    <option value=""> <= 30 m2 </option>
                                    <option value="">30-50 m2</option>
                                    <option value="">50-80 m2</option>
                                    <option value="">80-100 m2</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn_submit">Tìm kiếm</button>
                        <div class="advanced">
                            <button type="button" class="btn_advanced">Nâng cao <i class="fas fa-chevron-down"></i></button>
                            <div class="advanced__expand flex">
                                <div class="item">
                                    <h5>Khoảng giá</h5>
                                    <select class="selectbox">
                                        <option value="">Tất cả</option>
                                        <option value="">5 - 10 tỷ</option>
                                        <option value="">10 - 40 tỷ</option>
                                        <option value="">40 - 70 tỷ</option>
                                        <option value="">70 - 100 tỷ</option>
                                        <option value="">>100 tỷ</option>
                                    </select>
                                </div>
                                <div class="item">
                                    <h5>Số phòng ngủ</h5>
                                    <select class="selectbox">
                                        <option value="">Tất cả</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="form2">
                    <form action="" method="" class="flex">
                        <div class="form-row">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Nhập từ khóa cần tìm ...">
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Loại nhà đất</option>
                                    <option value="">Tất cả</option>
                                    <option value="">Căn hộ chung cư</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Quận</option>
                                    <option value="">Tất cả</option>
                                    <option value="">Quận 1</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select name="" class="selectbox">
                                    <option value="">Diện tích</option>
                                    <option value="">Chưa xác định</option>
                                    <option value=""> <= 30 m2 </option>
                                    <option value="">30-50 m2</option>
                                    <option value="">50-80 m2</option>
                                    <option value="">80-100 m2</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn_submit">Tìm kiếm</button>
                        <div class="advanced">
                            <button type="button" class="btn_advanced">Nâng cao <i class="fas fa-chevron-down"></i></button>
                            <div class="advanced__expand flex">
                                <div class="item">
                                    <h5>Khoảng giá</h5>
                                    <select class="selectbox">
                                        <option value="">Tất cả</option>
                                        <option value="">5 - 10 tỷ</option>
                                        <option value="">10 - 40 tỷ</option>
                                        <option value="">40 - 70 tỷ</option>
                                        <option value="">70 - 100 tỷ</option>
                                        <option value="">>100 tỷ</option>
                                    </select>
                                </div>
                                <div class="item">
                                    <h5>Số phòng ngủ</h5>
                                    <select class="selectbox">
                                        <option value="">Tất cả</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="ourwork-section">
        <div class="container">
            <h2 class="title">Cho thuê chung cư Hot tại Tp Hồ Chí Minh✔️</h2>
            <div class="row">
                <div class="col-lg-4 flex">
                    <div class="icon"><i class="far fa-bell"></i></div>
                    <div class="content">
                        <h4>Vinhomes Central Park</h4>
                        <p>Vị trí: 208 Nguyễn Hữu Cảnh, Bình Thạnh, Hồ Chí Minh. Loại hình: căn hộ chung cư cao cấp. Giá thuê: từ $750/ 1 phòng ngủ</p>
                    </div>
                </div>
                <div class="col-lg-4 flex">
                    <div class="icon"><i class="fa fa-balance-scale"></i></div>
                    <div class="content">
                        <h4>Vinhomes Golden River</h4>
                        <p>Vị trí: Số 2 Tôn Đức Thắng, Quận 1, Hồ Chí Minh. Loại hình: căn hộ chung cư cao cấp. Giá thuê: từ $900/ 1 phòng ngủ</p>
                    </div>
                </div>
                <div class="col-lg-4 flex">
                    <div class="icon"><i class="fa fa-cogs"></i></div>
                    <div class="content">
                        <h4>Sala Thủ Thiêm</h4>
                        <p>Vị trí: 10 Mai Chí Thọ, Quận 2, Hồ Chí Minh. Loại hình: căn hộ chung cư cao cấp. Giá thuê: từ $800/ 1 phòng ngủ</p>
                    </div>
                </div>
                <div class="col-lg-4 flex">
                    <div class="icon"><i class="fa fa-spinner"></i></div>
                    <div class="content">
                        <h4>Masteri An Phú</h4>
                        <p>Vị trí: 191 Xa Lộ Hà Nội, Quận 2, Hồ Chí Minh. Loại hình: căn hộ chung cư cao cấp. Giá thuê: từ $650/ 1 phòng ngủ</p>
                    </div>
                </div>
                <div class="col-lg-4 flex">
                    <div class="icon"><i class="fa fa-university"></i></div>
                    <div class="content">
                        <h4>Hà Đô Centrosa</h4>
                        <p>Vị trí: 200 Đường 3 Tháng 2, Quận 10, Hồ Chí Minh. Loại hình: căn hộ chung cư cao cấp. Giá thuê: từ $700/ 1 phòng ngủ</p>
                    </div>
                </div>
                <div class="col-lg-4 flex">
                    <div class="icon"><i class="fa fa-map-signs"></i></div>
                    <div class="content">
                        <h4>Landmark 81</h4>
                        <p>Vị trí: 208 Nguyễn Hữu Cảnh, Quận Bình Thạnh, Hồ Chí Minh. Loại hình: căn hộ chung cư cao cấp. Giá thuê: từ $1000/ 1 phòng ngủ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-section">
        <div class="container">
            <h2 class="title">Cho thuê căn hộ chung cư quận 1 ✔️</h2>
            <div class="post-nav flex">
                <a href="" class="btn_viewall flex-center">Xem tất cả</a>
            </div>
            <div class="post-slider">
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-section">
        <div class="container">
            <h2 class="title">Cho thuê căn hộ chung cư quận 4 ✔️</h2>
            <div class="post-nav flex">
                <a href="" class="btn_viewall flex-center">Xem tất cả</a>
            </div>
            <div class="post-slider">
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-section">
        <div class="container">
            <h2 class="title">Cho thuê căn hộ chung cư quận bình thạnh ✔️</h2>
            <div class="post-nav flex">
                <a href="" class="btn_viewall flex-center">Xem tất cả</a>
            </div>
            <div class="post-slider">
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-section">
        <div class="container">
            <h2 class="title">Cho thuê căn hộ chung cư quận 2 ✔️</h2>
            <div class="post-nav flex">
                <a href="" class="btn_viewall flex-center">Xem tất cả</a>
            </div>
            <div class="post-slider">
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-section">
        <div class="container">
            <h2 class="title">Cho thuê căn hộ chung cư quận 7 ✔️</h2>
            <div class="post-nav flex">
                <a href="" class="btn_viewall flex-center">Xem tất cả</a>
            </div>
            <div class="post-slider">
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-section">
        <div class="container">
            <h2 class="title">Cho thuê căn hộ chung cư quận phú nhuận ✔️</h2>
            <div class="post-nav flex">
                <a href="" class="btn_viewall flex-center">Xem tất cả</a>
            </div>
            <div class="post-slider">
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">58 Triệu/Tháng</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Bảng giá cho thuê căn hộ Grand Riverside</a></h3>
                        <address>72A Lê Thánh Tôn, Bến Nghé, Quận 1, Thành phố Hồ Chí Minh</address>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-section">
        <div class="container">
            <h2 class="title">Dự án</h2>
            <div class="post-nav flex">
                <a href="" class="btn_viewall flex-center">Xem tất cả</a>
            </div>
            <div class="post-slider">
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Dự án</span></p>
                        <span class="price">Liện hệ PKD</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Grand Marina Saigon</a></h3>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Dự án</span></p>
                        <span class="price">Liện hệ PKD</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Grand Marina Saigon</a></h3>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Dự án</span></p>
                        <span class="price">3 Tỷ/Căn</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">The 9 Stellars</a></h3>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
                <div class="item">
                    <a class="item__thumb pr">
                        <img src="./assets/img/tong-quan-du-an-cho-thue-can-go-sailing-tower-q1.png" alt="">
                        <p class="label flex"><span>Cho thuê</span></p>
                        <span class="price">3 Tỷ/Căn</span>
                        <p class="action flex">
                            <span><i class="far fa-heart"></i></span>
                            <span><i class="fa fa-camera"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                    </a>
                    <div class="item__content">
                        <h3><a href="">Căn hộ King Crown Infinity</a></h3>
                        <a href="" class="btn btn-detail"> Chi tiết <i class="fa fa-angle-right fa-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js" class="particles-js mts-text pr">
        <div class="container">
            <div class="logo"><img src="./assets/img/logo.png" alt=""></div>
        </div>
        <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1903" height="220"></canvas>
    </div>
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="title">CÔNG TY GIATHUECANHO</h2>
                    <div class="intro__item">
                        <h4><i class="fa fa-comments"></i> Chúng tôi là ai</h4>
                        <p>GIATHUECANHO chuyên tư vấn mua bán - cho thuê - chuyển nhượng tất cả các dự án căn hộ, chung cư, nhà phố, biệt thự, đất nền thuộc khu vực Thành Phố Hồ Chí Minh và một số khu vực thuộc tỉnh Nha Trang, Đà Nẵng ( đặc biệt chuyên tư vấn các dự án nghỉ dưỡng - Condotel thuộc tập đoàn Vingroup ).</p>
                    </div>
                    <div class="intro__item">
                        <h4><i class="fa fa-comments"></i> Giới thiệu</h4>
                        <p>Là một công ty mới sáng lập, nhưng công ty chúng tôi sở hữu đội ngũ nhân viên có nhiều năm kinh nghiệm trong nghề, kể cả cho thuê và tư vấn đầu tư các dự án mới.
                            Liên hệ với chúng tôi để được cập nhật bảng giá cho thuê các căn hộ Vinhomes Central Park, Vinhomes Golden River mới nhất,.. và một số dự án cho thuê khác.
                            Cập nhật thông tin đầu tư Bất Động Sản mới nhất từ chúng tôi</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="title">TRƯƠNG TÀI NĂNG</h2>
                    <div class="intro__truong flex">
                        <img src="./assets/img/truong-tai-nang-2-270x403.jpg" alt="">
                        <article>
                            <p>
                                Tôi là <strong>Trương Tài Năng</strong>, Tôi là <strong> Co - Founder của GIATHUECANHO</strong>
                                chuyên tư vấn mua bán - cho thuê - chuyển nhượng tất cả các dự án căn hộ, chung cư, nhà phố, biệt thự, đất nền thuộc khu vực Thành Phố Hồ Chí Minh và một số khu
                                vực thuộc tỉnh Nha Trang, Đà Nẵng ( đặc biệt chuyên tư vấn các dự án nghỉ dưỡng - Condotel thuộc tập đoàn Vingroup ).
                            </p>
                            <p>Với 3 năm kinh nghiệm trong nghề của mình, tôi sẽ mang lại cho bạn cơ hội đầu tư sinh lời tốt nhất khi bạn tìm đến tôi.</p>
                            <a href="" title="" class="btn_viewmore">Xem thêm</a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles-js1" class="particles-js mts-text pr">
        <div class="container">
            <div class="logo"><img src="./assets/img/logo.png" alt=""></div>
        </div>
        <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%;" width="1903" height="220"></canvas>
    </div>
</main>


