<main>
    <div class="category">
        <div class="category__title flex-center">
            <h1 class="title">Tin tức dự án</h1>
        </div>
        <div class="category__content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="news row">
                            <div class="col-lg-6 col-md-6">
                                <article class="post">
                                    <div class="post__thumb pr">
                                        <a href=""><img src="./assets/img/ly-do-tin-tuong-Masterise-Group-370x220.jpg" alt=""></a>
                                    </div>
                                    <div class="post__info flex">
                                        <p><i class="fa fa-user"></i> <a href="">Nguyễn Thị Tú Quyên</a></p>
                                        <p><i class="fa fa-calendar"></i> 16 Tháng Tư, 2021</p>
                                    </div>
                                    <div class="post__content">
                                        <h3><a href="">Masterise Homes- chủ đầu tư dự án căn hộ Lumière Riverside</a></h3>
                                        <p>Chủ đầu tư là một trong những tiêu chí được nhiều khách hàng đánh giá trước khi quyết định mua …		</p>
                                    </div>
                                    <div class="post__footer flex">
                                        <a href="" title="" class="btn_readmore">Read More</a>
                                        <a href="" class="btn_comment flex-center"><i class="fa fa-comment"></i> 0</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <article class="post">
                                    <div class="post__thumb pr">
                                        <a href=""><img src="./assets/img/eco-green-sai-gon-quan7-1-370x220.jpg" alt=""></a>
                                    </div>
                                    <div class="post__info flex">
                                        <p><i class="fa fa-user"></i> <a href="">Nguyễn Thị Tú Quyên</a></p>
                                        <p><i class="fa fa-calendar"></i> 16 Tháng Tư, 2021</p>
                                    </div>
                                    <div class="post__content">
                                        <h3><a href="">Masterise Homes- chủ đầu tư dự án căn hộ Lumière Riverside</a></h3>
                                        <p>Chủ đầu tư là một trong những tiêu chí được nhiều khách hàng đánh giá trước khi quyết định mua …		</p>
                                    </div>
                                    <div class="post__footer flex">
                                        <a href="" title="" class="btn_readmore">Read More</a>
                                        <a href="" class="btn_comment flex-center"><i class="fa fa-comment"></i> 0</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 sidebar">
                        <div class="advisory widget">
                            <h4>Tư vấn</h4>
                            <form action="" method="">
                                <div class="form-group">
                                    <input type="text" name="" placeholder="Họ và Tên (*)">
                                </div>
                                <div class="form-group">
                                    <input type="number" name="" placeholder="Số điện thoại(*)">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="" placeholder="Địa chỉ email (*)">
                                </div>
                                <div class="form-group">
                                    <textarea placeholder="Nhu cầu (*)"></textarea>
                                </div>
                                <button type="submit" class="btn_submit">Gửi thông tin tư vấn</button>
                            </form>
                        </div>
                        <ul class="category__link">
                            <li><a href="" class="active"><i class="fa fa-ellipsis-h"></i> All Services</a></li>
                            <li><a href="">Bán căn hộ chung cư tại quận 2</a></li>
                            <li><a href="">Bán căn hộ chung cư tại quận 4</a></li>
                            <li><a href="">Bán căn hộ quận Bình Thạnh</a></li>
                            <li><a href="">Bán căn hộ quận Phú Nhuận</a></li>
                            <li><a href="">Biệt thự</a></li>
                            <li><a href="">Cho thuê căn hộ chung cư ✔️</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


