<main>
    <div class="page-wt">
        <ul class="img-gallery">
            <li><a href="http://demo.giathuecanho.com/wp-content/uploads/2020/04/biet-thu-thao-dien-quan-2-9-1.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img src="http://demo.giathuecanho.com/wp-content/uploads/2020/04/biet-thu-thao-dien-quan-2-9-1.jpg" alt=""></a></li>
            <li><a href="http://demo.giathuecanho.com/wp-content/uploads/2020/04/biet-thu-thao-dien-quan-2-8.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img src="http://demo.giathuecanho.com/wp-content/uploads/2020/04/biet-thu-thao-dien-quan-2-8.jpg" alt=""></a></li>
            <li><a href="http://demo.giathuecanho.com/wp-content/uploads/2020/04/biet-thu-thao-dien-quan-2-1.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img src="http://demo.giathuecanho.com/wp-content/uploads/2020/04/biet-thu-thao-dien-quan-2-1.jpg" alt=""></a></li>
            <li><a href="http://demo.giathuecanho.com/wp-content/uploads/2020/04/biet-thu-thao-dien-quan-2-3.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img src="http://demo.giathuecanho.com/wp-content/uploads/2020/04/biet-thu-thao-dien-quan-2-3.jpg" alt=""></a></li>
            <li><a href="http://demo.giathuecanho.com/wp-content/uploads/2020/04/biet-thu-thao-dien-quan-2-4.jpg" class="fancybox-thumb" rel="fancybox-thumb"><img src="http://demo.giathuecanho.com/wp-content/uploads/2020/04/biet-thu-thao-dien-quan-2-4.jpg" alt=""></a></li>
        </ul>
        <div class="breadcrumb-wrapper">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Cho thuê</a></li>
                <li class="breadcrumb-item active">Bảng giá cho thuê biệt thự Thảo Điền năm 2020</li>
            </ul>
        </div>
        <div class="project flex">
            <div class="project__info">
                <h3>Bảng giá cho thuê biệt thự Thảo Điền năm 2020</h3>
                <address>Nguyễn Văn Hưởng, khu Compound, Thảo Điền, Quận 2, Hồ Chí Minh</address>
                <ul class="flex">
                    <li>
                        <h5>Chủ đầu tư:</h5>
                        <p>Frasers Property</p>
                    </li>
                    <li>
                        <h5>Loại hình:</h5>
                        <p>Biệt thự</p>
                    </li>
                    <li>
                        <h5>Quy mô</h5>
                        <p>2,7ha</p>
                    </li>
                    <li>
                        <h5>Diện tích:</h5>
                        <p>292 - 958m2</p>
                    </li>
                    <li>
                        <h5>Pháp lý:</h5>
                        <p>Sổ Hồng vĩnh viễn</p>
                    </li>
                </ul>
                <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=138&layout=button&action=like&size=large&share=true&height=30&appId" width="138" height="30" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <div class="project__support">
                <h4>HỖ TRỢ TƯ VẤN 24/7</h4>
                <a href="tel:0981041694" class="btn_phone flex-center">0981 041 694</a>
            </div>
        </div>
        <div class="box-search">
            <form action="" method="" class="flex">
                <div class="radio-check-search flex">
                    <label class="radio">
                        <input name="loai_bds" type="radio" value="muaban" checked>
                        <span class="checked flex-center">Bán</span>
                    </label>
                    <label class="radio">
                        <input name="loai_bds" type="radio" value="chothue">
                        <span class="checked flex-center">Thuê</span>
                    </label>
                </div>
                <div class="form-group">
                    <input type="text" name="" placeholder="Tìm kiếm địa điểm, khu vực">
                </div>
                <div class="select flex">
                    <div class="select__item">
                        <h5>Loại nhà đất</h5>
                        <select name="" class="selectbox">
                            <option value="">Loại nhà đất</option>
                            <option value="">Căn hộ chung cư</option>
                            <option value="">Shophouse</option>
                        </select>
                    </div>
                    <div class="select__item">
                        <h5>Khu vực</h5>
                        <select name="" class="selectbox">
                            <option value="">Quận 1</option>
                            <option value="">Quận 2</option>
                            <option value="">Quận 3</option>
                        </select>
                    </div>
                    <div class="select__item">
                        <h5>Diện tích</h5>
                        <select name="" class="selectbox">
                            <option value="">Diện tích</option>
                            <option value=""><30 m2</option>
                            <option value="">30-50 m2</option>
                            <option value="">50-90 m2</option>
                        </select>
                    </div>
                </div>
                <div class="filter-expand flex pr">
                    <button type="button">Lọc thêm</button>
                    <div class="expand">
                        <div class="item">
                            <h5>Khoảng giá</h5>
                            <select name="" class="selectbox">
                                <option value="">Tất cả</option>
                                <option value="">5-10 tỷ</option>
                                <option value="">10-40 tỷ</option>
                                <option value="">40-70 tỷ</option>
                            </select>
                        </div>
                        <div class="item">
                            <h5>Số phòng ngủ</h5>
                            <select name="" class="selectbox">
                                <option value="">Tất cả</option>
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button type="reset" class="btn_reset"><i class="fas fa-sync-alt"></i> Đặt lại</button>
                <button type="submit" class="btn_submit">Tìm kiếm</button>
            </form>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="page-detail">
                        <div class="info flex">
                            <p><i class="fa fa-user"></i> <a href="">Nguyễn Thị Tú Quyên</a></p>
                            <p><i class="fa fa-calendar"></i> 16 Tháng Tư, 2021</p>
                            <p><i class="fa fa-tags"></i><a href="" title="">Tin tức dự án</a></p>
                        </div>
                        <h1 class="title">Masterise Homes- chủ đầu tư dự án căn hộ Lumière Riverside</h1>
                        <article class="post-detail">
                            <p style="text-align: justify;">Chủ đầu tư là một trong những tiêu chí được nhiều khách hàng đánh giá trước khi quyết định mua căn hộ để đầu tư hoặc để ở. Vậy chủ đầu tư Masterise Homes (Thảo Điền Invenstment) của dự án Lumiere Riverside đang làm mưa làm gió ở thị trường bất động sản Đông Sài Gòn là ai? Liệu có uy tín không? Cùng tìm hiểu ngay trong bài viết dưới đây nhé.</p>
                            <h2 id="chu-dau-tu-masterise-homes-co-uy-tin-khong" class="ftwp-heading" style="text-align: justify;"><span style="font-size: 20px; color: #0000ff;"><strong>Chủ đầu tư Masterise Homes có uy tín không?</strong></span></h2>
                            <p style="text-align: justify;"><span style="font-weight: 400;">Masterise Homes (tiền thân là công ty cổ phần đầu tư Thảo Điền – Thảo Điền Investment) là danh tiếng có tiếng tăm lừng lẫy trong giới đầu tư bất động sản với tiềm lực tài chính vững mạnh. Vào năm 2015, Masterise Homes được vinh danh là một trong 10 chủ đầu tư tốt nhất Việt Nam.&nbsp;</span></p>
                        </article>
                        <div class="related-posts">
                            <h4>Related Posts</h4>
                            <article class="post flex">
                                <div class="post__thumb"><img src="./assets/img/grand-marina-saign-quan-1-7-1-370x230.jpg" alt=""></div>
                                <div class="post__content">
                                    <time>26 Tháng Sáu, 2020</time>
                                    <h3><a href="">Đường Lê Văn Lương Nhà Bè cùng những tiềm năng phát triển</a></h3>
                                    <p>MỤC LỤCChủ đầu tư Masterise Homes có …</p>
                                    <div class="info flex">
                                        <p><i class="fa fa-user"></i><a href="">Nguyễn Thị Tú Quyên</a></p>
                                        <a href="" class="btn_comment"><i class="fa fa-comment"></i> 0</a>
                                    </div>
                                </div>
                            </article>
                            <article class="post flex">
                                <div class="post__thumb"><img src="./assets/img/grand-marina-saign-quan-1-7-1-370x230.jpg" alt=""></div>
                                <div class="post__content">
                                    <time>26 Tháng Sáu, 2020</time>
                                    <h3><a href="">Đường Lê Văn Lương Nhà Bè cùng những tiềm năng phát triển</a></h3>
                                    <p>MỤC LỤCChủ đầu tư Masterise Homes có …</p>
                                    <div class="info flex">
                                        <p><i class="fa fa-user"></i><a href="">Nguyễn Thị Tú Quyên</a></p>
                                        <a href="" class="btn_comment"><i class="fa fa-comment"></i> 0</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 sidebar">
                    <div class="advisory widget">
                        <h4>Gửi thông tin tư vấn</h4>
                        <form action="" method="">
                            <div class="form-group">
                                <input type="text" name="" placeholder="Họ và Tên (*)">
                            </div>
                            <div class="form-group">
                                <input type="number" name="" placeholder="Số điện thoại(*)">
                            </div>
                            <div class="form-group">
                                <input type="email" name="" placeholder="Địa chỉ email (*)">
                            </div>
                            <div class="form-group">
                                <textarea placeholder="Nhu cầu (*)"></textarea>
                            </div>
                            <button type="submit" class="btn_submit">Gửi thông tin tư vấn</button>
                        </form>
                    </div>
                    <div class="fanpage">
                        <h4>Fanpage</h4>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgiathuecanho%2F&tabs=timeline&width=339&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="339" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-related container">
            <h4>Dự án lân cận</h4>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <article class="post pr">
                        <a href="" class="post__thumb"><img src="./assets/img/biet-thu-vinhomes-central-park-chuyen-nhuong-1-370x230.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Mua bán cho thuê biệt thự Vinhomes Central Park năm 2020</a></h3>
                            <address>208 Nguyễn Hữu Cảnh, Phường 22, Bình Thạnh, Hồ Chí Minh</address>
                            <div class="price">Có thể thương lượng</div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post pr">
                        <a href="" class="post__thumb"><img src="./assets/img/biet-thu-vinhomes-central-park-chuyen-nhuong-1-370x230.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Mua bán cho thuê biệt thự Vinhomes Central Park năm 2020</a></h3>
                            <address>208 Nguyễn Hữu Cảnh, Phường 22, Bình Thạnh, Hồ Chí Minh</address>
                            <div class="price">Có thể thương lượng</div>
                        </div>
                    </article>
                </div>
                <div class="col-lg-4 col-md-6">
                    <article class="post pr">
                        <a href="" class="post__thumb"><img src="./assets/img/biet-thu-vinhomes-central-park-chuyen-nhuong-1-370x230.jpg" alt=""></a>
                        <div class="post__content">
                            <h3><a href="">Mua bán cho thuê biệt thự Vinhomes Central Park năm 2020</a></h3>
                            <address>208 Nguyễn Hữu Cảnh, Phường 22, Bình Thạnh, Hồ Chí Minh</address>
                            <div class="price">Có thể thương lượng</div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</main>


