:root{
  --yellow: #cfbf78;
}
body{
  font-family: 'Montserrat',sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #494949;
  background: #fafafa;
  overflow-x: hidden;
}

body.modal-open {
  overflow-y: inherit;
  padding-right: 0 !important;
}
a{transition: .15s;}
a:hover{text-decoration: none; color: #fbd713;}
img{max-width: 100%;}
h1,h2,h3,h4,h5{
  font-size: inherit; margin-bottom: 0;
  a{color: inherit;}
}

@mixin center{
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

@mixin title{
  margin: -5px 0 30px 0;
  padding-bottom: 15px;
  font-size: 20px; font-weight: 700; position: relative;
  &::after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background: #fbd713;
  }
}
@mixin post1{
  margin-bottom: 30px;
  border: 1px solid rgba(131,131,131,.2);
  position: relative;
  transition: all .3s;
  &__thumb{
    a{
      width: 100%;
      display: block;
      overflow: hidden;
      height: 0;
      padding-top: 61.67%;
    }
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;}
  }
  &__info{
    margin-top: 0;
    padding: 15px;
    background: #fff;
    min-height: 203px;
    h3,address{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    h3{
      min-height: 46px;
      margin-bottom: 15px;
      font-size: 17px;
      font-weight: 700;
      color: #30333a;
      line-height: 1.4;
    }
    address{
      min-height: 34px;
      line-height: 17px;
      font-size: 13px;
      font-weight: 700;
      color: #555;
    }
    .label{
      display: inline-block;
      background-color: #00a65a!important;
      border-color: #d6e9c6;
      text-align: center;
      font-size: 11px;
      padding: 3.5px 6px;
      line-height: .9;
      color: #fff;
      font-weight: 500;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 2px;
      opacity: .92;
    }
    .price{
      margin-top: 15px;
      color: #d2251e;
      font-weight: 700;
      font-size: 17px;
    }
  }
  .ribbon {
    width: 110px;
    height: 110px;
    overflow: hidden;
    position: absolute;
    span{
      position: absolute;
      display: block;
      width: 130px;
      padding: 2px 0;
      background-color: #7cba13;
      color: #fff;
      text-align: center;
      opacity: .9;
      font-size: 13px;
    }
  }
  .ribbon2.ribbon span{background-color: #f07404;}
  .ribbon-top-right {
    top: -2px;
    right: -2px;
    span{
      left: 4px;
      top: 30px;
      transform: rotate(45deg);
    }
  }
}
@mixin btn_submit{
  width: 100%; height: 50px;
  background: #fff;
  border: 1px solid #D8D8D8;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  &:hover{color: #fff; background: #30333a;}
}
@mixin btn_submit1{
  display: inline-block;
  background: #123d65;
  padding: 11px 20px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s;
}

header{
  background: url("#{$img-path}/hbg3.png");
  .topheader{padding: 7px 0; border-bottom: 1px solid rgba(#fff,.1); color: #cfbf78;}
  .contact{
    margin-left: auto;
    &__item{align-items: center;}
    >*+*{margin-left: 30px; padding-left: 30px; border-left: 1px solid rgba(255, 255, 255, 0.12);}
    .icon{
      height: 50px;
      width: 50px;
      margin-right: 20px;
      border: 1px solid #757575;
      border-radius: 50%;
    }
    .phone,h5{
      display: block;
      color: #dedede;
      font-weight: 700;
      font-size: 18px;
    }
    .mail,p{color: #cfbf78;}
    i{font-size: 24px; color: #757575;}
  }
  .navbar-toggler{display: none;}
}
.navbar{
  width: 100%; padding: 0;
  background: linear-gradient(to bottom, #e5e5e5 0%, #dedede 100%);
  border-bottom: 1px solid #a0a49f;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  &.fixed{position: fixed; top: 0; z-index: 99;}
  > .container{justify-content: flex-start;}
  .sub-menu1,.sub-menu{display: none;}
}
.navbar-nav{
  display: flex; width: 100%; flex-direction: row;
  li{position: relative;}
  i{margin-right: 3px;}
  > li > a{display: inline-block; padding: 18px 29px; border-right: 1px solid rgba(0, 0, 0, 0.15); font-weight: 700; font-size: 14px; text-transform: uppercase; color: #000;}
  > li > .active, >.current-menu-item > a, > li:hover > a{
    background: #fff;
    &::before{opacity: 1;}
  }
  > li > a::before{
    content: "";
    width: 98.5%;
    position: absolute; left: 1px; top: -2px;
    opacity: 0;
    height: 3px;
    background: #fbd713;
  }
  > li:hover{
    .sub-menu{display: block;}
  }
  .menu-item-has-children > a::after {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 14px;
  }
  .menu-item-cl{
    > a, >i{color: var(--yellow);}
    &:hover{
      > a, >i{color: #000;}
    }
  }
  .sub-menu1,.sub-menu{
    border-right: 1px solid #e5e5e5;
    li{padding: 0; background: #fff; border-bottom: 0;}
    a{
      display: inline-block;
      position: relative;
      padding: 13px 20px 13px 25px;
      width: 240px;
      font-weight: 700; font-size: 13px; color: #cfbf78; text-transform: uppercase;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      transition: all 0.25s linear;
    }
    > li:hover{
      background: #fbd713;
      > a,> a > i{color: #252525;}
    }
    i{font-size: 14px; color: var(--yellow);}
  }
  .sub-menu{
    position: absolute;
    z-index: 400;
    color: #798189;
    font-size: 12px;
    li:hover{
      .sub-menu1{display: block;}
    }
  }
  .sub-menu1{
    border-top: 1px solid #e5e5e5;
    position: absolute; left: 241px; top: 0;
  }
}

.search{
  width: 100%; height: 450px;
  background: url("#{$img-path}/bg-search_1.jpg") no-repeat 50% 0/cover;
  &__tab{
   border-radius: 5px 5px 0 0; overflow: hidden; flex-wrap: nowrap;
    li:nth-child(2) a{border-radius: 0 5px 0 0;}
    a{
      display: flex; background: #d2dae4;
      border-bottom: 1px solid #d2dae4; align-items: center; padding: 10px 20px 11px 20px; color: #080e1b;
      font-weight: 700; white-space: nowrap;
    }
    i{margin-right: 4px; color: #ffc107; display: none;}
    .active{
      background: rgba(#fff,.32);
      color: #fff;
      i{display: block;}
    }
  }
  .form-row{
    padding: 15px;
    >*+*{margin-left: 15px;}
  }
  form{
    background: rgba(#fff,.32);
    align-items: center;
    position: relative;
    input[type="text"]{
      padding: 0 15px 0 45px;
      width: 100%; max-width: 255px;
      background: #fff url("#{$img-path}/icon-search.png") no-repeat 10px center;
    }
  }
  .advanced{
    &__expand{
      width: 100%;
      display: none;
      padding: 15px;
      background: #656e79;
      position: absolute;
      left: 0;
      max-width: 1170px;
      right: 0;
      margin: 0 auto;
      bottom: -97px; z-index: 9;
      &.show{display: flex;}
      >*+*{margin-left: 45px;}
    }
    h5{margin-bottom: .3rem; color: #fff; font-weight: 700;}
    .select2-container{min-width: 333px;}
  }
  .container{
    height: 100%;
    display: flex; flex-direction: column;
    justify-content: center;
  }
  h1{margin-bottom: 20px; color: #fff; text-align: center; font-weight: 700; font-size: 46px; text-transform: capitalize;}
  .form-group{margin-bottom: 0;}
  select,input,.select2-search__field{
    height: 44px;
    padding: 0 30px 0 18px;
    border: solid 1px #e0e7ee;
    border-radius: 3px;
    &:focus,&:focus-visible{outline: none;}
  }
  .purpose{width: 25%;}
  .box-select{justify-content: space-between;}
  .type,.min_beds,.max_beds{width: 32%;}
  .search-button{
    width: 21%; background: #ffb557; color: #fff; font-size: 18px; font-weight: 700; text-transform: uppercase;
    &:hover{background: #e48814;}
  }
  .btn_submit{
    margin-left: 5px;
    background: #123d65;
    padding: 13px 35px;
    line-height: 1.2;
    border-radius: 3px;
    transition: 0.3s;
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
  }
  .btn_advanced{background: none; margin-left: 25px; color: #fff;}
  .select2-container{min-width: 175px;}
}
.select2-container .select2-selection--single,input{height: 44px;}
.select2-results__option{padding: 11px 15px;}
.select2-dropdown{border: solid 1px #e0e7ee;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{background: #f6f7f9; color: #000; text-shadow: 1px 0 0 currentColor;}
.select2-container--default .select2-selection--single,input{border-radius: 3px; border: solid 1px #e0e7ee;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 44px;}
.select2-container .select2-selection--single .select2-selection__rendered{padding: 0 30px 0 18px;}

.ourwork-section{
  background: #fff;
  padding: 70px 0 40px;
  .icon{
    width: 30px;
    height: 30px;
    margin: -5px 20px 0 0;
    transition: all 0.35s ease-in-out 0s;
  }
  .col-lg-4{padding: 20px 15px;}
  .content{flex: 1;}
  i{color: #252525;font-size: 32px;}
  h4{margin-bottom: 20px; font-weight: 700; color: var(--yellow); font-size: 16px;}
}
.post-section{
  padding: 50px 0 30px;
  .item{
    padding: 10px 10px 15px;
    background: #fff;
    &__thumb{display: block;}
    &__thumb::after{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute; top: 0; left: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 65%, rgba(0, 0, 0, 0.8) 100%);
    }
    &__content{padding: 30px 12px 7px;}
    h3{
      font-size: 15px;
      line-height: 20px;
      margin: 0 0 7px 0;
      font-weight: 500;
      text-transform: inherit;
      text-align: inherit;
    }
    h3 a{color: #000;}
    address{
      font-size: 13px;
      line-height: 13px;
      margin: 0;
      font-weight: 300;
      text-transform: inherit;
      text-align: inherit;
      color: #9b9b9b;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 265px;
    }
  }
  .label{
    position: absolute; top: 13px; right: 13px; z-index: 2;
    >*+*{margin-left: 5px;}
    span{
      display: inline-block;
      margin-right: 5px;
      background: #333;
      color: #fff;
      border-radius: 2px;
      font-size: 10px;
      padding: 3px 6px 2px;
      text-transform: uppercase;
      margin-bottom: 0;
      line-height: 11px;
      vertical-align: top;
      font-weight: 500;
    }
  }
  .price{
    position: absolute;
    left: 12px;
    bottom: 12px;
    font-size: 18px;
    font-weight: 500;
    color: #fff; z-index: 2;
  }
  .action{
    position: absolute;
    right: 12px;
    bottom: 12px;
    z-index: 2;
    span{
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-left: 4px;
      line-height: 28px;
      border-radius: 4px;
      background-color: #000;
      opacity: 0.6;
      filter: alpha(opacity=60);
      text-align: center;
    }
    i{color: #fff;}
  }
  .post-nav{
    justify-content: flex-end;
    margin-bottom: 10px;
    button{margin-right: 5px;}
    .btn_viewall{
      height: 22px; padding: 0 10px; border: 1px solid #b59154; color: #000; font-size: 11px;
      &:hover{background: #b59154; color: #fff;}
    }
    i{color: #000; font-size: 14px;}
  }
  .slick-arrow{top: -32px; position: absolute;}
  .slick-next{right: 90px;}
  .slick-prev{right: 137px;}
}
.particles-js{
  padding: 15px 0;
  background: #f1f1f1 url("#{$img-path}/hbg3.png");
  .logo{
    img{display: block; margin: 0 auto;}
    &::after{
      content: "";
      width: 389px; max-width: 100%; height: 25px;
      display: block;
      margin: 15px auto 0;
      background: url("#{$img-path}/line.png") no-repeat 0 0/contain;
    }
  }
  canvas{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }
}
.intro{
  padding: 80px 0;
  h2.title{margin-bottom: 50px;}
  &__item{
    margin-bottom: 45px;
    p{padding-left: 40px;}
  }
  &__truong{
    align-items: flex-start;
    img{width: 270px;}
    article{width: calc(100% - 270px); padding-left: 20px; text-align: justify;}
  }
  i{margin-right: 20px; color: #252525;}
  h4{margin-bottom: 20px; font-size: 16px; font-weight: 700; color: var(--yellow); text-transform: uppercase;}
}

//category
.img-gallery{
  li{
    display: inline-block;
    position: relative;
    float: left;
    width: 25%;
  }
  li:nth-child(1){
    width: 50%;
    img{height: 450px;}
  }
  a{display: block;}
  img{width: 100%; object-fit: cover; height: 225px;}
}
.description{
  margin-top: 20px;
  &.show{
    .description__content{padding: 30px 10px; height: auto; opacity: 1;}
    .description__title::before{content: "-";}
  }
  &__title{
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all .6s;
    color: #333;
    font-size: 14px;
    background: #fafafa;
    padding: 5px 10px;
    border: 1px solid #eee;
    font-weight: bold;
    &::before{
      content: "+";
    }
  }
  &__content{
    padding: 10px;
    transition: all .8s;
    opacity: 0; height: 0;
  }
}
.project{
  &__filter{
    margin: 60px -6px 20px;
    .filter{margin: 6px; text-transform: uppercase; font-size: 13px; font-weight: 700; color: #252525;}
    a{display: block; border-radius: 2px; border: 1px solid #dedede; color: #757575; padding: 5px 7px;}
    a:hover,.active a{background: #fbd713; color: #252525; border: 1px solid #fbd713;}
  }
}
.category,.project,.search-page{
  .post{@include post1;}
}
.category{
  margin-bottom: 50px;
  .description{margin-top: 0;}
  &__title{
    padding: 48px 2%;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: url("#{$img-path}/hbg3.png");
    h1{font-size: 40px; font-weight: 700; color: var(--yellow); line-height: 1.37; text-align: center;}
  }
  &__list{
    padding: 15px;
    background: #fff;
    border: 1px solid #f3f3f3;
  }
  &__link{
    li{border-bottom: 1px solid #e4e4e4;}
    i{width: 32px;}
    a{
      width: 100%;
      position: relative;
      padding: 15px 0;
      display: inline-block;
      color: #757575;
      font-weight: 700;
      transition: 0s;
    }
    a:hover,.active{
      color: #252525;
      background: #fbd713;
      &::before,&::after{opacity: 1;}
    }
    a::before,a::after{
      position: absolute;
      content: '';
      opacity: 0;
    }
    a::before{
      left: -30px;
      top: 0;
      width: 30px;
      height: 100%;
      background: #fbd713;
    }
    a::after{
      top: 50%;
      left: -37px;
      width: 0;
      height: 0;
      margin-top: -8px;
      border-style: solid;
      border-width: 7.5px 7px 7.5px 0;
      border-color: transparent #fbd713 transparent transparent;
    }
  }
}
.news{
  padding: 15px 0;
  background: #fff;
  border: 1px solid #f3f3f3;
  .post{
    border: none;
    &__thumb{
      overflow: hidden;
      a{padding-top: 59.8%;}
      &:hover::after{animation: riseEffect 1.5s ease-out 75ms;}
      &::after{
        position: absolute;
        content: "";
        bottom: -30px;
        left: 50%;
        z-index: 5;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
      }
    }
    &__info{
      height: inherit;
      padding: 15px 0;
      font-weight: 500;
      font-size: 12px;
      color: #757575;
      border-bottom: 1px solid #dedede;
      text-transform: uppercase;
      >*+*{margin-left: 18px;}
      a{color: #757575;}
      i{font-size: 12px; margin-right: 4px;}
    }
    &__footer{margin-top: 25px;}
    h3{margin-bottom: 20px; color: #252525; font-weight: 700; font-size: 16px; line-height: 23px;}
    p{font-size: 14px;}
    .btn_readmore{
      color: #252525;
      display: block;
      border-radius: 2px;
      padding: 0 15px;
      line-height: 44px;
      background: #fbd713;
      font-weight: bold;
      text-transform: uppercase;
    }
    .btn_comment{
      margin-left: 10px;
      border: 1px solid #dedede;
      text-align: center;
      padding: 0 18px;
      display: block;
      line-height: 42px;
      color: #757575;
      border-radius: 2px;
      &:hover{border-color: #cfbf78; color: var(--yellow);}
    }
  }
}
.page-detail{
  padding: 35px 15px 20px;
  background: #fff;
  border: 1px solid #f3f3f3;
  .info{
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #dedede;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    color: #757575;
    >*+*{margin-left: 17px;}
    p{padding: 4px 0;}
    i{margin-right: 4px; font-size: 12px;}
    a{color: var(--yellow);}
  }
  .title{
    margin: 25px 0;
    font-weight: 700;
    font-size: 30px;
    color: var(--yellow);
  }
  .summary{
    margin-bottom: 30px;
    .title{margin-bottom: 15px;}
    .price{
      margin-left: 30px;
      font-size: 20px;
      font-weight: 700;
      color: #ffb557;
    }
    .id{margin-left: auto; color: #808080; text-transform: uppercase;}
    .status{margin-left: 15px; color: #8bc34a;}
  }
  .info-detail{
    .col-lg-6{margin-bottom: 20px;}
    h3,h4{font-weight: 700; font-size: 22px;}
    h3{margin: 20px 0 10px; text-transform: uppercase; color: #9c9c9c;}
    h4{margin-bottom: 12px;}
    li{list-style: none;}
    i{margin-right: 15px;}
  }
  .social{
    margin: 40px 0;
    >*+*{margin-left: 10px;}
    a{
      display: block;
      padding: 0 15px;
      margin-bottom: 10px;
      border-radius: 3px;
      background: #eee;
      line-height: 40px;
      font-size: 13px;
      color: #394041;
      outline: none;
      text-decoration: none;
      box-shadow: none;
      &:hover{color: #cb2028;}
    }
    i{margin-right: 5px;}
  }
  .truong_author{
    h4{margin-bottom: 15px; font-weight: 700; color: #252525; text-transform: capitalize; font-size: 18px;}
    .ct{
      margin-top: 10px;
      a{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: block;
        color: #fff;
        float: left;
        text-align: center;
        margin-right: 8px;
        line-height: 34px;}
      i{color: #fff;}
      .facebook{background: #6991c8;}
      .twitter{background: #67d0fc;}
      .pinterest{background: #e13138;}
      .stumble{background: #ff5c30;}
      .linkedin{background: #238cc8;}
    }
  }
}
.sidebar{
  padding: 30px 15px 0 30px;
  h4{
    margin-bottom: 30px;
    padding-bottom: 20px;
    font-size: 24px;
    color: #252525;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 50px;
      height: 3px;
      background: #fbd713;
    }
  }
  .advisory{
    margin-bottom: 50px;
    input,textarea{
      width: 100%;
      padding: 6px 12px;
      font-size: 14px;
      color: #666;
      border: 1px solid #D8D8D8;
    }
    textarea{min-height: 100px;}
    .btn_submit{@include btn_submit;}
  }
}
.related-posts{
  margin: 50px 0;
  padding: 30px 0;
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  h4{@include title;}
  .post{
    margin-bottom: 30px;
    &__thumb{
      width: 48%; height: 170px; max-width: 170px;
      img{width: 100%; height: 100%; object-fit: cover;}
    }
    &__content{margin-top: 0; max-width: calc(100% - 170px); padding-left: 5%;}
    time{font-size: 12px; text-transform: uppercase;}
    h3{margin: 15px 0 10px; font-weight: 700; font-size: 18px; color: var(--yellow);}
    .info{
      border-bottom: none;
      i{color: #757575;}
    }
  }
}
.fanpage{
  margin-top: 80px;
  h4{@include title;}
}
.author{
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dedede;
  h4{@include title;}
  &__avatar{width: 100px; height: 100px; border-radius: 50%; overflow: hidden;}
  &__info {width: calc(100% - 100px); padding-left: 30px;}
  h5{margin-bottom: 15px; font-size: 18px; font-weight: 700; color: var(--yellow); text-transform: uppercase;}
}
.dangtin{
  margin-top: -50px;
  padding: 35px 15px 15px;
  background: #fff;
  border: 1px solid #f3f3f3;
  text-align: center;
  h2{margin-bottom: 15px; font-size: 18px; color: #c7a589; text-transform: uppercase; font-weight: 700;}
  .note{font-size: 10pt;}
  form{
    margin-top: 20px;
    input{
      width: 100%;
      max-width: 336px;
      padding: 8px 12px;
      font-size: 14px;
      color: #666;
      border: 1px solid #D8D8D8;
      font-family: inherit;}
  }
  .text{
    margin: 30px 0;
    a{color: var(--yellow);}
    p{margin-bottom: 15px;}
  }
  .btn_submit{@include btn_submit; max-width: 336px; margin: 0 auto;}
}
.search-page{
  margin-bottom: 30px;
  .header{padding: 20px 0;}
  .filter,.pagination{padding: 10px 0;}
}
.author-page{
  margin: 30px 0;
  padding: 15px;
  border: 1px solid #eeeeee;
  background: #fff;
  .author{
    &__avatar{width: 250px; height: auto; border-radius: 0;}
    &__info{width: calc(100% - 250px); padding-left: 20px;}
    h3{margin-bottom: 15px; font-weight: 600; text-transform: uppercase; font-size: 20px;}
    p{margin-bottom: 10px;}
    a{color: #000;}
    i{margin-right: 10px;}
  }
}
.related_search,.author-page{
  .post{
    border: 1px solid #eee;
    margin-bottom: 30px;
    h3{margin-top: 0; padding: 10px 20px; background: #f0f0f0; color: #252525; font-weight: 600; font-size: 18px; line-height: 1.6;}
    &__thumb{display: block; overflow: hidden;}
    &__detail{padding: 0 20px 10px; margin-top: 10px;}
    .price{padding: 7px 0; color: #ffb557;}
    .address{
      border-bottom: 1px solid #eeeeee;
      border-top: 1px solid #eeeeee;
      margin: 5px 0;
      padding: 5px 0;
      font-weight: 600;
      line-height: 1.4;
    }
    .description{margin-top: 15px;}
    .utilities{margin-bottom: 5px;}
    .add-to-compare{
      display: flex; align-items: center;
      margin-top: 15px;
      font-size: 14px;
      color: #000;
      i{margin-right: 5px;}
    }
  }
}
.related_search{
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #dedede;
  h4{margin-bottom: 20px; font-weight: 700; text-transform: capitalize; font-size: 20px;}
}
.filter{
  select{
    height: 44px;
    padding: 0 30px 0 18px;
    border: solid 1px #e0e7ee;
    border-radius: 3px;
  }
}
.slider-for{
  margin-bottom: 10px;
  .slick-arrow{
    width: 32px; height: 32px;
    background: url("#{$img-path}/right-arrow1.png") no-repeat 0 0/contain;
    position: absolute; top: 50%; transform: translateY(-50%);
    border: none; z-index: 2;
    &::after{display: none;}
    &:hover{ background: url("#{$img-path}/right-arrow1.png") no-repeat 0 0/contain;}
  }
  .slick-next{right: 15px;}
  .slick-prev{left: 15px; transform: translateY(-50%) rotate(180deg);}
}
.slider-nav{
  margin: 0 -5px 20px;
  .item{
    margin: 0 5px;
    border: 3px solid #ccc;
    transition: .3s;
    &:hover{border-color: #1e73be;}
  }
  .slick-current{border-color: #1e73be;}
}
.project{
  max-width: 1200px; margin: 0 auto; padding: 0 15px;
  h3{
    margin: 20px 0 10px;
    font-weight: 600;
    font-size: 28px;
    color: #494949;
  }
  address{color: #494949; font-size: 18px; font-weight: 500;}
  &__info{
    width: 70%;
    border-right: 1px solid rgba(48, 51, 58, .2);
    padding: 20px 20px 20px 0;
    iframe{float: right; margin-top: 20px;}
  }
  &__support{
    width: 30%;
    margin-top: 20px;
    padding-left: 20px;
    h4{
      background: #e8e8e8;
      padding: 12px 16px;
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  ul{
    margin: 0 -10px;
    li{padding: 5px 10px;}
    h5{
      color: rgba(68, 76, 89, .76);
      font-weight: 400;
      font-size: 15px;
      font-style: italic;
    }
    p{font-weight: 600; font-size: 15px;}
  }
  .btn_phone{
    max-width: 230px; width: 100%; height: 45px;
    background: #f07404;
    margin: 10px auto 0;
    color: #fff; font-size: 14px;
    border-radius: 3px;
  }
}
.box-search{
  margin-bottom: 40px;
  padding: 15px 5px;
  box-shadow: 0 2px 8px rgba(3,44,71,.12);
  form{
    max-width: 1200px; margin: 0 auto; padding: 0 15px;
    > *+*{margin-left: 20px;}
    div,button{padding: 5px 0;}
    input[type="text"]{margin-top: 23px; padding: 0 15px; min-width: 240px;}
  }
  .form-group{margin-bottom: 0;}
  .select{
    >*+*{margin-left: 15px;}
    h5{margin-bottom: 4px; font-size: 12px;}
    .select2-container{min-width: 150px;}
  }
  .radio-check-search{
    margin-top: 23px;
    label{position: relative; margin-bottom: 0;}
    label:nth-child(1) .checked{border-radius: 4px 0 0 4px;}
    label:nth-child(2) .checked{border-radius: 0 4px 4px 0; margin-left: -1px;}
    input{position: absolute; opacity: 0;}
    input:checked + .checked{
      background: #edf7ff;
      border: 1px solid #95c4e6;
      color: #004e7f;
      z-index: 2;
    }
    .checked{width: 75px; height: 45px; border: 1px solid #ccc; font-size: 14px; font-weight: 700; position: relative; cursor: pointer;}
  }
  .expand{
    width: 350px; padding: 25px 15px;
    display: none;
    background: #fff;
    box-shadow: 0 8px 32px rgba(3,44,71,.24);
    border-radius: 8px;
    position: absolute; right: -15px; top: 60px; z-index: 9;
    >*+*{margin-top: 20px;}
    &.show{display: block;}
    h5{margin-bottom: 5px; font-weight: 600;}
    .select2-container{min-width: 100%;}
  }
  button{background: none; font-weight: 600;}
  .btn_submit{
    @include btn_submit1;
    margin: 16px 0 0 0;
  }
}
.project-related{
  margin-bottom: 40px;
  h4{
    padding: 40px 0 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #444c59;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
  .post{
    margin-bottom: 30px;
    &__thumb{}
    &__content{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
      color: #fff;
      padding: 15px;
    }
    h3{font-size: 18px;}
    h3,.price{font-weight: 700;}
    h3,address{display: block; margin-bottom: 5px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
  }
}


footer{
  width: 100%;
  padding-top: 56px;
  background: #212121 url("#{$img-path}/hbg3.png");
  font-size: 14px;
  color: #dedede;
  .link{
    >*+*{margin-top: 15px;}
    a{color: #da6a05; font-weight: 700; text-transform: uppercase;}
  }
  .time{
    li{display: flex; align-items: center; justify-content: space-between; padding: 15px 0; border-top: 1px solid rgba(255, 255, 255, 0.1);}
    li:last-child{border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
    h5{color: rgba(255, 255, 255, 0.25); font-weight: normal}
  }
  .info{
    li{display: flex; align-items: center; padding: 15px 0; border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
    li:first-child{
      padding-top: 0;
      align-items: flex-start;
      i{margin-top: 8px;}
    }
    p{flex: 1;}
    span{display: block; color: rgba(255, 255, 255, 0.25);}
    i{margin-right: 18px;}
  }
  h4{
    padding-bottom: 28px;
    margin-bottom: 55px;
    font-weight: 700;
    font-size: 22px;
    color: #cfbf78;
    text-transform: uppercase;
    position: relative;
    &::after{
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 50px;
      height: 3px;
      background: rgba(255,255,255,0.28);
    }
  }
  i{color: rgba(255, 255, 255, 0.25);}
  li{list-style: none;}
  a{color: #fff;}
  .dmca-badge{display: flex; justify-content: center; margin: 20px auto 0;}
  .copyrights {
    width: 100%;
    margin-top: 60px;
    padding: 12px 0;
    color: rgba(255, 255, 255, 0.35);
    background: #252525;
    a{color: rgba(255, 255, 255, 0.35);}
    a:hover{color: #cfbf78;}
  }
  #move-to-top {
    width: 44px;
    height: 44px;
    display: inline-block;
    margin-left: 30px;
    transition: all 0.25s linear;
    -webkit-backface-visibility: hidden;
    color: rgba(0, 0, 0, 0.35);
    background: rgba(255, 255, 255, 0.35);
    border-radius: 2px;
    text-align: center;
    &:hover{background: #cfbf78;}
    i{
      color: #333;
      line-height: 44px;
      font-size: 25px;
      font-weight: bold;
    }
  }
  .anchor{
    width: 26px;
    height: 26px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.35);
    text-align: center;
    margin-right: 3px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.35);
    &:hover{
      background: #fbd713;
      color: #000;
      border: 1px solid #fbd713;
    }
  }
}

//uikit
.container{max-width: 1200px;}
.page-wt{background: #fff;}
.pr{position: relative;}
input:focus{outline: 1px solid #95c4e6; border-radius: 4px;}
.flex-nowrap{flex-wrap: nowrap;}
button{
  border: none; cursor: pointer; padding: 0;
  &:focus{outline: none;}
}
.btn_viewmore{
  display: inline-block;
  background: #cfbf78;
  color: #252525;
  border-radius: 2px;
  padding: 0 15px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
}
h2.title{
  position: relative;
  width: 100%;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  &::after{
    position: absolute;
    content: '';
    bottom: 2px;
    left: 1px;
    width: 50px;
    height: 3px;
    background: #fbd713;
  }
}
.btn-detail{
  float: right;
  margin-top: 10px;
  outline: 0!important;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 11px 15px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  color: #fff;
  background-color: #b59154;
  &:hover i{color: #fbd713;}
}
.slick-arrow,.post_ar{
  width: 36px; height: 22px;
  background: #fff;
  display: flex; align-items: center; justify-content: center;
  border: 1px solid #b59154;
  font-size: 0;
  &:hover{
    background: #b59154;
    i{color: #fff;}
  }
  &::after{
    content: "";
    width: 11px; height: 11px;
    background: url("#{$img-path}/right-arrow.png") no-repeat 0 0/contain;
  }
  &:focus{outline: none;}
}
.slick-next::after{}
.slick-prev{transform: rotate(180deg);}
.box-title{
  padding: 48px 2%;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: url("#{$img-path}/hbg3.png");
  h1{max-width: 1170px; margin: 0 auto; font-size: 40px; font-weight: 700; color: var(--yellow); line-height: 1.37; text-align: center;}
}
.wre-premium-wrapper {
  position: absolute;
  top: 10px;
  left: -30px;
  width: 134px;
  color: #fff;
  background-color: #06B236;
  padding: 3px 30px;
  z-index: 1;
  font-size: 13px;
  -webkit-transform: rotate(
                  -45deg
  );
  transform: rotate(
                  -45deg
  );
}
.pagination{
  justify-content: flex-end;
  .page-link{
    display: flex; align-items: center; justify-content: center;
    border: 1px solid #ddd;
    margin: 0 4px;
    padding: 0;
    width: 44px; height: 44px;
    color: #9a9a9a;
    font-size: 16px;
    border-radius: 3px;
  }
  .active .page-link{background-color: #ffb557; border-color: #ffb557; color: #fff; font-weight: 700;}
}
.utilities{
  >*+*{margin-left: 20px;}
  i{margin-left: 7px;}
}
.modal-navbar{
  width: 100%; height: 100%;
  position: fixed; top: 0; left: 0;
  background: rgba(#000,.5);
  display: none;
  z-index: 9;
  &.is-open{display: block;}
}
.breadcrumb-wrapper{
  border-top: 1px solid rgba(48, 51, 58, .1);
  background-color: #f3f5f8;
  border-bottom: 1px solid rgba(48, 51, 58, .1);
  clear: both;
  .breadcrumb{background: none; max-width: 1200px; margin: 0 auto; padding: 15px;}
  a,li{
    color: #555;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
  }
}

@keyframes riseEffect {
  0% { opacity: 0.3; }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fbd713 , 0 0 0 10px rgba(255,255,255,0.3);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fbd713 , 0 0 0 10px rgba(255,255,255,0.3);
    transform: scale(60);
    opacity: 0;
  }
}

@media (max-width: 1023px) {
  header{
    .contact{
      display: block;
      >*+*{padding-left: 0; margin-left: 0; margin-top: 20px; border-left: none;}
      .icon{width: 40px; height: 40px;}
      .phone,h5{font-size: 14px;}
      p{font-size: 12px;}
      i{font-size: 20px;}
    }
    .logo{width: 100px;}
    .navbar-toggler{display: block;}
  }
  .navbar-toggler{
    display: block;
    width: 21px;
    height: 22px;
    padding: 0; position: absolute;
    top: 7px;
    right: 15px;
    background: none; border: none;
    span{
      display: block; width: 21px; height: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 21px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -7px;}
    span:after{width: 21px; bottom: -7px;}
  }
  .navbar-toggler.active{
    span{width: 21px; transform: rotate(45deg);}
    span:after{width: 21px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar{
    .navbar-collapse{align-items: flex-start;}
    .close{display: block;}
    .brand img{max-width: 175px;}
    &.scroll{
      padding: 12px 14px;
      .brand img{max-width: 175px;}
    }
    &.active{
      .navbar-collapse{left: 0;}
    }
    .close{display: block;}
  }
  .navbar-collapse{
    width: 80%;
    height: 100%;
    padding: 0;
    align-items: flex-start;
    border-right: 1px solid rgba(#fff,.1);
    background: url("#{$img-path}/hbg3.png");
    position: fixed; left: -100%; top: 0;
    transition: left .2s linear;
    z-index: 999; overflow: auto;
    ul{overflow: auto;}
  }
  .navbar-nav{
    padding: 0;
    flex-direction: column;
    i{margin-right: 5px; font-size: 15px;}
    li a::after{display: none;}
    > li{border-bottom: 1px solid rgba(#fff,.1);}
    .show-menu{
      width: 42px; height: 42px;
      display: flex; align-items: center; justify-content: center;
      border-left: 1px solid rgba(#fff,.1);
      position: absolute; right: 0; top: 0;
      transition: .4s;
      &::after{
        content: "+";
        color: #fff;
        font-size: 20px;
        font-weight: 700;
      }
    }
    .sub-menu,.sub-menu1{
      width: auto;
      display: none !important;
      background: none;
      box-shadow: none;
      position: relative;
      top: 0;
      opacity: 1;
      visibility: visible;
      border-right: none;
      transform: translateY(0);
      li:hover{
        background: transparent;
        a,> a > i{color: #fff;}
      }
      li{background: transparent; border-top: 1px solid rgba(#fff,.1);}
      li a{font-size: 12px; padding: 11px 17px 11px 20px; color: #fff;}
      &:before{display: none;}
    }
    .sub-menu1{left: 0; border-top: none;}
    .sub-menu{
      .show{
        .sub-menu1{display: block !important;}
        >.show-menu::after{content: "-";}
      }
    }
    >.show{
      .sub-menu{display: block !important;}
      >.show-menu::after{content: "-";}
    }
  }
  .navbar-nav{
    > li > .active,> .current-menu-item > a,> li:hover > a{background: none;}
    > li > a{padding: 12px 30px 12px 20px; font-size: 12px; color: #fff;}
    > li > a:before{display: none;}
    .menu-item-has-children > a::after{right: 10px;}
    .menu-item-cl{
      a,i{color: #fff;}
      &:hover{
        a,i{color: #fff;}
      }
    }
  }

  .search{
    h1{font-size: 35px;}
    form{ padding-bottom: 15px;}
    .advanced{
      .item{width: 40%}
      .select2-container{min-width: 100%;}
    }
    .form-row{
      >*+*{margin-left: 10px;}
    }
    .select2-container{max-width: 120px; min-width: 120px;}

  }
  .box-search{
    form{
      >*+*{margin-left: 10px;}
      .form-group{width: calc(100% - 119px);}
      input[type="text"]{min-width: 100%; max-width: 100%; font-size: 14px;}
    }
    .expand{width: 300px; right: inherit; left: 0;}
    .radio-check-search{
      .checked{width: 55px;}
    }
    .select{
      width: 100%; margin-left: 0;
      >*+*{margin-left: 2%;}
      &__item{width: 32%;}
      .select2-container{max-width: 100%; min-width: 100%;}
    }
    .btn_submit,.btn_reset{margin-left: 20px;}
  }
  .news{
    .post{
      p{font-size: 12px;}
    }
  }
  .sidebar{
    padding: 30px 15px;
  }
  .category{
    &__link{
      position: relative;
      width: 90%;
      margin: 0 auto;
    }
  }
  footer{
    .col-md-6{margin-bottom: 30px;}
  }
  .fancybox-margin{margin-right: 0;}
}
@media (max-width: 640px) {
  header{
    .contact{
      >*+*{margin-top: 15px;}
      .icon{width: 35px; height: 35px; margin-right: 10px;}
      .phone,h5{font-size: 13px;}
      p,.mail{max-width: 180px; font-size: 10px;}
      i{font-size: 16px;}
    }
    .logo{width: 80px;}
  }
  //main
  .banner{
    min-height: 400px;
    img{height: 400px; width: 100%; object-fit: cover;}
  }
  .search{
    height: 480px;
    padding: 15px 0;
    h1{font-size: 24px;}
    .advanced{
      &__expand{
        bottom: -175px;
        >*+*{margin: 20px 0 0;}
      }
      .select2-container,.item{min-width: 100%;}
    }
    form{
      input[type="text"]{max-width: 100%;}
    }
    .form-row{
      >*+*{margin-left: 0;}
      .form-group{width: 100%;}
    }
    .select2-container{min-width: 100%;}
    .form-group{margin-bottom: 10px;}
    select,input{padding: 0 20px 0 12px; height: 40px; font-size: 13px;}
    .search-button{width: 50%; margin-top: 10px; font-size: 14px;}
    .btn_submit{margin-left: 10px;}
  }
  .ourwork-section{
    padding: 30px 0;
    h4{margin-bottom: 15px;}
  }
  .post-section{
    padding: 30px 0 20px;
  }
  .intro{
    padding: 40px 0;
    &__truong{
      img{display: block; margin: 0 auto;}
      article{width: 100%; padding: 30px 0 0;}
    }
  }
  .description{
    &__title{font-size: 12px; font-weight: 600;}
    &__content{font-size: 12px; padding: 10px;}
    &.show .description__content{padding: 15px 10px;}
  }
  .project{
    &__info,&__support{width: 100%;}
    &__info{border-right: none; padding-right: 0;}
    &__support{padding-left: 0; margin-bottom: 20px;}
    &__filter{
      .filter{margin: 4px;}
      a{padding: 5px; font-size: 10px; font-weight: 600;} }
    h3{font-size: 22px;}
    address{font-size: 14px;}
  }
  .category{
    &__title{
      padding: 35px 2%;
      h1{font-size: 30px;}
    }
    &__link{
      a{padding: 12px 0;}
      a::before{width: 20px; left: -20px;}
      a::after{left: -27px;}
    }
  }
  .related_search,.search-page,.author-page{
    .post{
      h3{padding: 10px 15px; font-size: 16px; line-height: 1.5;}
      &__detail{padding: 0 15px 10px;}
    }
  }
  .related-posts{
    margin: 30px 0;
    .post{
      &__thumb{width: 40%; height: 130px;}
      &__content{max-width: 60%;}
      h3{margin: 7px 0; font-size: 14px;}
      p,time{font-size: 10px;}
    }
  }
  .search-page{
    .header{padding: 10px 0;}
  }
  .author-page{
    .author{
      &__avatar{width: 40%;}
      &__info{width: 60%;}
    }
  }
  .box-title{
    padding: 35px 2%;
    h1{font-size: 30px;}
  }
  .page-detail{
    padding: 20px 15px 20px;
    .title{margin: 15px 0; font-size: 22px; line-height: initial;}
    .info{
      padding: 10px 0 5px;
      margin: 0 -5px;
      p,>a{padding: 5px;}
      >*+*{margin-left: 0;}
      i{font-size: 10px;}
    }
    .summary{
      .utilities{width: 100%;}
      .price{margin: 5px 0;}
      .id{margin-left: inherit;}
    }
    .info-detail{
      h3,h4{font-size: 18px;}
    }
  }
  .author{
    padding-bottom: 30px;
    margin-bottom: 30px;
    &__info{padding-left: 15px;}
    h5{font-size: 14px;}
    p{font-size: 12px;}
  }
  .slider-nav{
    .item{margin: 0 2px; border-width: 2px;}
  }
  .img-gallery{
    li{width: 25%;}
    li:nth-child(1){
      width: 100%;
      img{height: 215px;}
    }
    img{height: 100px;}
  }
  .box-search{
    form{padding: 0 5px;}
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 38px; font-size: 14px;}
  .select2-container .select2-selection--single .select2-selection__rendered{padding: 0 20px 0 10px;}

  //uikit
  h2.title{
    padding-bottom: 24px;
    margin-bottom: 24px;
    font-size: 22px;
  }
  .btn-detail{padding: 6px 10px;}
  .pagination{
    .page-link{width: 35px; height: 35px; font-size: 12px;}
  }
  footer{
    padding-top: 30px;
    .col-md-6{margin-bottom: 30px;}
    h4{margin-bottom: 30px; padding-bottom: 20px; font-size: 18px;}
    .link a{font-size: 13px;}
  }
}
@media (max-width: 370px) {
  header{
    .topheader{padding: 9px 50px 9px 0; font-size: 12px;}
    .logo{width: 70px;}
    .contact{
      .icon{width: 30px; height: 30px;}
      .phone,p{max-width: 160px;}
    }
  }
}

/*===========WRE ICONS=======================*/
@font-face {
  font-family: 'wrewp';
  src: url('#{$font-path}/wre.eot?70850573');
  src: url('#{$font-path}/wre.eot?70850573#iefix') format('embedded-opentype'),
  url('#{$font-path}/wre.woff2?70850573') format('woff2'),
  url('#{$font-path}/wre.woff?70850573') format('woff'),
  url('#{$font-path}/wre.ttf?70850573') format('truetype'),
  url('#{$font-path}/wre.svg?70850573#bed') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="wre-icon-"], [class*=" wre-icon-"] { display: inline-block; }
[class^="wre-icon-"]:before, [class*=" wre-icon-"]:before,
[class^="wre-icon-"]:after, [class*=" wre-icon-"]:after {
  font-family: wrewp;
  font-size: 20px;
  font-style: normal;
  vertical-align: middle;
  line-height: 1.5;
}
.wre-icon-tick-2:before { content: '\21'; }
.wre-icon-tick-7:before { content: '\22'; }
.wre-icon-tick-1:before { content: '\23'; }
.wre-icon-tick-4:before { content: '\24'; }
.wre-icon-tick-5:before { content: '\25'; }
.wre-icon-tick-3:before { content: '\26'; }
.wre-icon-tick-6:before { content: '\27'; }
.wre-icon-bed-4:before { content: '\28'; }
.wre-icon-bed-3:before { content: '\29'; }
.wre-icon-bed-1:before { content: '\2a'; }
.wre-icon-bed-7:before { content: '\2b'; }
.wre-icon-bed-2:before { content: '\2c'; }
.wre-icon-bed-5:before { content: '\2d'; }
.wre-icon-bed-6:before { content: '\2e'; }
.wre-icon-bath-1:before { content: '\2f'; }
.wre-icon-bath-2:before { content: '\30'; }
.wre-icon-bath-3:before { content: '\31'; }
.wre-icon-bath-4:before { content: '\32'; }
.wre-icon-bath-5:before { content: '\33'; }
.wre-icon-bath-6:before { content: '\34'; }
.wre-icon-bath-7:before { content: '\35'; }
.wre-icon-car-1:before { content: '\36'; }
.wre-icon-car-2:before { content: '\37'; }
.wre-icon-car-3:before { content: '\38'; }
.wre-icon-car-4:before { content: '\39'; }
.wre-icon-car-5:before { content: '\3a'; }
.wre-icon-car-6:before { content: '\3b'; }
.wre-icon-car-7:before { content: '\3c'; }
.wre-icon-arrow-1:before { content: '\3d'; }
.wre-icon-arrow-2:before { content: '\3e'; }
.wre-icon-arrow-3:before { content: '\3f'; }
.wre-icon-arrow-4:before { content: '\40'; }
.wre-icon-arrow-5:before { content: '\41'; }
.wre-icon-arrow-6:before { content: '\42'; }
.wre-icon-arrow-7:before { content: '\43'; }
.wre-icon-auction-1:before { content: '\44'; }
.wre-icon-auction-2:before { content: '\45'; }
.wre-icon-auction-3:before { content: '\46'; }
.wre-icon-sold-1:before { content: '\47'; }
.wre-icon-sold-2:before { content: '\48'; }
.wre-icon-sold-3:before { content: '\49'; }
.wre-icon-house:before { content: '\4a'; }
.wre-icon-old-phone:before { content: '\4b'; }
.wre-icon-fax:before { content: '\4c'; }
.wre-icon-garbage:before { content: '\4d'; }
.wre-icon-website:before { content: '\4e'; }
.wre-icon-phone:before { content: '\4f'; }
.wre-icon-email:before { content: '\50'; }
.wre-icon-grid-view:before { content: '\51'; }
.wre-icon-list-view:before { content: '\52'; }
.wre-icon-marker:before { content: '\53'; }
.wre-icon-star:before { content: '\54'; }
.wre-icon-edit:before { content: '\55'; }
.wre-icon-avatar:before { content: '\56'; }
.wre-icon-avatar-1:before { content: '\57'; }
.wre-icon-facebook:before { content: '\58'; }
.wre-icon-gplus:before { content: '\59'; }
.wre-icon-twitter:before { content: '\5a'; }
.wre-icon-linkedin:before { content: '\5b'; }
.wre-icon-youtube:before { content: '\5c'; }
.wre-icon-compare:before { content: '\5d'; }
.wre-icon-heart-empty:before { content: '\5e'; }
.wre-icon-pinterest:before { content: '\5f'; }
.wre-icon-location:before { content: '\60'; }
.wre-icon-close:before { content: '\61'; }
.wre-icon-trash-empty:before { content: '\0adf'; }
.wre-icon-spin4:before { content: '\63'; }
.wre-icon-gmail:before { content: '\6d'; }
.wre-icon-subscribe:before { content: '\0dfe'; }
.wre-icon-cc-paypal:before { content: '\64'; } /* 'd' */
.wre-icon-cc-stripe:before { content: '\65'; } /* 'e' */
/*.wre-icon-gmail:before { content: '\6d'; }  'm' */
.wre-icon-stripe:before { content: '\0800'; } /* 'à €' */
.wre-icon-paypal:before { content: '\e800'; } /* 'î €' */
.wre-icon-clock:before { content: 'ò„”’'; } /* '\84512' */
.wre-icon-pencil:before { content: '\0dfd'; }